@media (min-width: 2500px) {
    .screenshot {
        background-size: unset
    }
}

@media (min-width: 1670px) and (max-width: 1800px) {
    .home-decor .home-circle2 {
        top: 150px;
        right: 25px
    }

    .home-decor .home-circle3 {
        top: 235px;
        right: 55px
    }

    .home-right {
        width: 90%
    }
}

@media (min-width: 1367px) and (max-width: 1669px) {
    .home-decor .home-circle2 {
        top: 150px;
        right: 25px
    }

    .home-decor .home-circle3 {
        top: 235px;
        right: 55px
    }

    .home-right {
        width: 80%
    }

    .home-two {
        background-size: unset
    }

    .feature-phone {
        top: 110px;
        left: 185px
    }

    .feature-phone img {
        width: 70%
    }

    .features {
        text-align: center
    }

    .features-img {
        width: 284px
    }

    .pc-bg {
        width: 400px;
        height: 240px;
        background-size: contain
    }

    .img-scroll {
        left: 20px;
        width: calc(100% - 40px);
        height: calc(100% - 57px);
        top: 11px
    }

    .border-shape-two {
        width: 95%
    }

    .darkHeader.theme-nav .nav-item {
        padding: 15px 0 15px 7px
    }

    .contact-right img {
        width: 70%;
        top: 0
    }

    .screenshot-decor .screenshot-circle3 {
        bottom: 0;
        left: 50px;
        top: auto
    }
}

@media (min-width: 2000px) {
    .home-right {
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }
}

@media (min-width: 1500px) and (max-width: 1366px) {
    .home-right {
        margin-top: -30px
    }
}
.home-right {
    width: 65%;
    float: right;
    position: absolute;
    right: 0;
    top: 0px
}
@media (max-width: 1366px) {
    .home-right {
        width: 90%
    }

    .back-img .home-contain {
        margin-top: -60px
    }

    .home-contain {
        margin-top: 100px
    }

    .home-two {
        background-size: auto;
        padding-bottom: 0;
        height: auto !important
    }

    .contact-right {
        width: 70%
    }

    .screenshot-contain {
        height: 500px
    }

    .about {
        background-position: right
    }

    .feature {
        background-position: bottom;
        min-height: 730px
    }

    .feature-phone img {
        height: 600px
    }

    .about-right {
        height: 500px;
        width: 500px
    }

    

    .home-decor .home-circle1 {
        top: 120px;
        left: 30px
    }

    .home-decor .home-circle2 {
        top: 130px;
        right: -30px
    }

    .home-decor .home-circle3 {
        top: 200px;
        right: 25px
    }

    .feature-phone {
        top: 126px;
        left: 50px
    }

    .feature-phone img {
        width: 65%;
        float: right
    }

    .screenshot {
        background-size: unset
    }

    .screenshot-decor .screenshot-circle2 {
        top: 120px;
        right: 20%
    }

    .screenshot-decor .screenshot-circle1 {
        top: 110px;
        right: 30%
    }

    .screenshot-decor .screenshot-circle3 {
        left: 29%
    }
    .home-two {
        background-size: auto
    }

    .home-three {
        background-size: cover
    }

    .landing-caption {
        line-height: 1.5 !important
    }

    .pc-bg {
        width: 360px;
        height: 210px;
        background-size: contain
    }

    .img-scroll {
        width: calc(100% - 34px);
        height: calc(100% - 40px);
        left: 17px;
        top: 10px
    }

    .border-shape-two {
        width: 95%
    }

    .features-img {
        width: 284px
    }

    .coming-title {
        margin-top: 70px
    }

    .features {
        text-align: center
    }

    .features img {
        width: 100px
    }

    .features-title {
        font-size: 14px
    }

    .tapl-title {
        font-size: 32px
    }

    .home-style .modal.video-play .modal-dialog {
        -webkit-transform: translate(-20%, 0);
        transform: translate(-20%, 0)
    }

    .darkHeader.theme-nav .nav-item {
        padding: 20px 0
    }

    .home-contain p {
        line-height: 22px
    }

    .feature-decor .feature-circle1 {
        top: auto
    }

    .about-decor .about-circle1 {
        right: 0
    }

    .footer-text h2 {
        margin: 15px auto
    }

    iframe.video-play {
        width: 700px;
        height: 600px
    }

    .animated-circle.three img {
        bottom: 50px
    }

    .animated-circle.three:before {
        bottom: 68px
    }

    .animated-circle.three:after {
        bottom: 68px
    }

    img.main-logo {
        width: 100%
    }

    .landing-circle3 img {
        top: 0;
        left: 14px
    }

    .landing-circle2 img {
        top: 160px;
        left: 125px
    }

    .landing-circle1 img {
        top: 10px;
        left: 200px
    }
}

@media (max-width: 1200px) {
    img.main-logo {
        width: unset
    }

    .home-contain {
        margin-top: 0
    }
}

@media (max-width: 1199px) {
    .coming-soon .innerpage-decor {
        opacity: 0.1
    }

    .mob-mocup {
        width: 248px;
        left: 355px
    }

    .home-three .contain {
        left: calc(50% + 10px)
    }

    .footer-style li+li {
        margin-top: 30px
    }

    h1 {
        font-size: 46px
    }

    h2 {
        font-size: 26px
    }

    h4 {
        font-size: 14px
    }

    section {
        padding-top: 90px;
        padding-bottom: 90px
    }

    .about-text h3 {
        padding-top: 0;
        padding-bottom: 0
    }

    .footer {
        padding-top: 80px
    }

    .home-decor .home-circle1 {
        top: 125px;
        left: 65px
    }

    .home-decor .home-circle2 {
        right: -30px
    }

    .home-decor .home-circle3 {
        top: 211px;
        right: 5px
    }

    .feature-phone {
        top: 126px;
        left: 75px
    }

    .top-margin {
        margin-top: 20px
    }

    .mobile-light-left {
        left: 35%
    }

    .mobile-light-right {
        right: 35%
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 320px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 320px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 320px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 320px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .screenshot-decor .screenshot-circle1 {
        top: 30px;
        right: 25%
    }

    .screenshot-decor .screenshot-circle2 {
        top: 70px;
        right: 13%
    }

    .screenshot-decor .screenshot-circle3 {
        left: 19%;
        bottom: 0
    }

    .contact-decor .contact-circle2 {
        top: auto
    }

    .contact-decor .contact-circle1 {
        position: absolute;
        top: auto;
        left: 280px
    }

    .index-footer {
        margin: 0 auto;
        position: absolute;
        width: 100%
    }

    .footer-text {
        padding-top: 0
    }

    .sidebar-space {
        margin-bottom: 30px
    }

    .marg-20 {
        margin: 10px auto
    }

    .home-two {
        background-size: cover;
        background-position: 70%
    }

    .coming-title {
        font-size: 28px
    }

    .margin-top-bottom {
        margin-top: 70px
    }

    .tapl-title {
        font-size: 28px
    }

    .features-img {
        width: 230px
    }

    .theme-nav .nav-item {
        font-size: 13px;
        padding: 30px 0
    }


    .about-text p {
        line-height: 1.5
    }

    .about-style li {
        margin-bottom: 15px;
        min-height: 50px
    }
    .contact-right img {
        width: 85%
    }

    .breadcrumb-bg h2 {
        font-size: 20px
    }

    .pages-space>div+div+div {
        margin-top: 50px
    }

    @-webkit-keyframes movebounce {
        0% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }

        50% {
            -webkit-transform: translateX(20px);
            transform: translateX(20px)
        }

        100% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }
    }

    @keyframes movebounce {
        0% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }

        50% {
            -webkit-transform: translateX(20px);
            transform: translateX(20px)
        }

        100% {
            -webkit-transform: translateX(0px);
            transform: translateX(0px)
        }
    }
}

@media (max-width: 1024px) {
    .feature-phone {
        top: 100px
    }

    .about {
        background-size: contain
    }

    .about-decor .about-circle1 {
        top: 0
    }

    .about-decor .about-circle2 {
        bottom: 0;
        right: -150px
    }

    .feature-phone {
        left: 0;
        top: unset
    }

    .mobile-light-left {
        left: 35%
    }

    .mobile-light-right {
        right: 35%
    }

    .contact {
        background-size: cover
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 330px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 330px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 100px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 330px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 330px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .index-footer {
        position: relative
    }

    .home-two {
        background-position: 62%
    }

    .pc-bg {
        width: 300px;
        height: 180px
    }

    .img-scroll {
        left: 15px;
        top: 9px;
        width: calc(100% - 29px);
        height: calc(100% - 38px)
    }

    .template-bg {
        height: auto
    }

    .home-decor .home-circle1 {
        top: auto;
        left: 65px;
        bottom: 0
    }

    .contact-decor .contact-circle2 {
        top: auto;
        bottom: 0;
        left: 10%
    }

    .features li {
        padding: 40px 0
    }
}

@media (max-width: 992px) {
    .feature .feature-style li:last-child {
        margin-bottom: 30px
    }

    .feature .sm-m-top .feature-style li:last-child {
        margin-bottom: 0px
    }
    .footer-text {
        margin-top: 0
    }

    .feature-phone {
        top: 100px
    }

    .feature-decor .feature-circle1 {
        display: none
    }

    .contact-right img {
        width: 67%
    }

    section * {
        -webkit-animation: none !important;
        animation: none !important
    }

    .mobile-light-right,
    .mobile-light-left {
        display: none
    }

    .d-align-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    
    .home-right{
        top: -150px;
    }
}

@media (max-width: 991px) {
    .not-found .innerpage-decor {
        display: none
    }

    .not-found .error-font {
        font-size: 180px
    }

    .mob-mocup {
        width: 245px;
        left: 237px
    }

    .home-three .contain {
        left: calc(50% + 0px)
    }

    .home-two .contain {
        top: calc(50% + 5px)
    }

    .home-style nav.navbar .navbar-nav .active>.nav-link {
        color: #17f3d4
    }

    .about-right {
        height: 350px;
        width: 350px
    }

    .feature {
        min-height: auto
    }

    #navbarSupportedContent {
        background: #005093
    }

    #navbarSupportedContent .nav-item {
        padding: 0;
        margin-left: 15px;
        margin-right: 15px
    }

    .darkHeader {
        padding: 0.5rem 1rem
    }

    .darkHeader.navbar-light .navbar-nav .nav-link.active {
        color: #000 !important
    }

    .feature {
        background-size: auto
    }

    .feature-style li {
        margin-bottom: 30px
    }

    .feature-style li:last-child {
        margin-bottom: 0
    }

    .feature-style p {
        margin: 0 auto;
        line-height: 20px
    }
    .contact {
        background-position: center
    }

    .footer {
        padding-bottom: 0 !important
    }

    .mrp h2 {
        font-size: 28px;
        margin-top: 20px
    }

    .mrp h6.user-type {
        margin: 20px
    }

    .md-margin-top {
        margin-top: 20px !important
    }

    h2 {
        font-size: 22px;
        margin-top: 0;
        margin-bottom: 25px
    }

    h2.title {
        margin-top: 0;
        line-height: 1;
        text-align: left
    }

    h1 {
        font-size: 40px;
        margin: 20px auto
    }

    h4 {
        font-size: 13px
    }

    p {
        font-size: 13px;
        line-height: 20px
    }

    p.slide-cap-desc {
        font-size: 14px
    }

    .home-right {
        width: 100%;
        -webkit-transform: translateY(0px);
        transform: translateY(0px)
    }

    .about-decor .about-circle1 {
        left: auto;
        right: -50px;
        top: auto
    }

    .about-decor .about-circle2 {
        right: -50px
    }

    .screenshot-decor .screenshot-circle1 {
        right: 23%
    }

    .screenshot-decor .screenshot-circle2 {
        right: 15%
    }

    .feature-phone {
        display: none
    }

    .d-medium-none-lg {
        display: none
    }

    .mobile-light-left {
        left: 30%
    }

    .mobile-light-right {
        right: 30%
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 350px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -140px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 350px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -140px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 350px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 350px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }
    .md-height {
        height: 100%
    }

    .page-margin {
        margin-top: 100px
    }

    .d-align-center {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex
    }

    .reply-comment>div+div {
        margin-top: 20px
    }

    .details-sidebar {
        margin-top: 100px
    }

    .home-two {
        background-position: 30%;
        background-size: cover
    }

    .navbarSupportedContent {
        color: #777
    }

    .home-style-two .navbar-light .navbar-nav .nav-link {
        color: #777
    }

    .home-style-two .darkHeader .navbar-nav .active>.nav-link {
        color: #18e7d3
    }

    .img-scroll {
        left: 19px;
        top: 11px;
        width: calc(100% - 38px);
        height: calc(100% - 39px)
    }

    .pc-bg {
        width: 400px;
        height: 230px
    }

    .mt-70 {
        text-align: center
    }

    .home .container {
        margin-top: 0 !important
    }

    .nav-item.dropdown .dropdown-menu {
        -webkit-box-shadow: none;
        box-shadow: none;
        padding: 0 0 0 15px
    }

    .dropdown-menu .nav-item {
        margin-left: 0
    }

    #mymenu .dropdown-menu {
        display: none;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease
    }

    #mymenu .dropdown-menu.show {
        display: block;
        -webkit-transition: 0.5s ease;
        transition: 0.5s ease
    }

    #mymenu .dropdown-menu .nav-item {
        margin-left: 0
    }

    .navbar-light .navbar-nav .nav-link {
        color: #777
    }

    .about-text p {
        padding-left: 5px
    }

    .about-style li {
        margin-bottom: 20px
    }

    .feature-subtitle h3 {
        margin-top: 0
    }

    .feature-decor .feature-circle1 {
        top: 570px;
        right: 13px
    }

    .contact-right img {
        top: 0
    }

    .home-style nav.navbar .navbar-nav .nav-link {
        color: #777;
        text-align: center;
    }

    .home-style nav.darkHeader .navbar-nav .active>.nav-link {
        color: #18e7d3
    }

    .features img {
        width: 80px
    }

    .mt-35>div+div {
        margin-top: 70px
    }

    .error-wrapper .error-heading .cloud-second {
        margin-top: -100px
    }

    .error-wrapper .error-heading .cloud-second .cloud-first {
        width: 700px
    }

    .error-wrapper .error-heading .cloud-second .headline {
        font-size: 235px
    }

    .margin-bottom>div+div+div .review-box {
        margin-top: 30px
    }
}

@media (max-width: 768px) {
    body {
        overflow-x: hidden
    }

    .full-page {
        overflow: auto
    }

    .home {
        min-height: 100vh
    }

    .mobile-light-right {
        top: -150px
    }
    .owl-carousel .owl-item img{
        width: 200px !important;
        margin: 0 auto;
    }
    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 330px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -90px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 330px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -90px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 490px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 320px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .home-two {
        background-position: top;
        background-color: #19d6dc
    }

    .features-img {
        width: 250px
    }

    .screenshot-decor .screenshot-circle3 {
        left: 0;
        bottom: 0
    }

    .features li:nth-child(even) {
        border-right: none
    }

    .features li:nth-child(13) {
        border-bottom: 1px solid #ddd
    }

    .features li:nth-child(14) {
        border-bottom: 1px solid #ddd
    }

    .features li:last-child {
        border-bottom: none
    }

    .error-wrapper .error-heading {
        margin-top: 100px
    }

    .error-wrapper .error-heading .cloud-first {
        width: 100%;
        margin-top: 0px
    }

    .error-wrapper .error-heading .headline {
        font-size: 235px;
        margin-top: -130px
    }

    .error-wrapper .error-heading .cloud-second {
        margin-top: -90px
    }

    .error-wrapper .sub-content {
        margin-top: 100px
    }
}

@media (max-width: 767px) {
    .faq .card-body {
        font-size: 13px
    }

    .mob-mocup {
        width: 235px !important;
        /* display: none; */
        margin: 0 auto;
        left: 0;
        right: 0;
        margin: 0 auto;
        height: 470px;
    }

    .home-three {
        background-color: #19d8db
    }

    .home-three .contain {
        position: relative;
        top: unset;
        left: unset;
        margin-right: auto;
        -webkit-transform: none;
        transform: none
    }

    .animated-circle.three img {
        left: 0
    }

    .home-two .contain {
        position: relative;
        margin-right: auto;
        top: auto;
        left: auto;
        -webkit-transform: none;
        transform: none
    }

    .animated-circle:after {
        -webkit-animation: none;
        animation: none;
        -webkit-box-shadow: none;
        box-shadow: none
    }

    .home-contain {
        margin-top: 0
    }

    .leave-coment h3.text-center {
        text-align: left !important
    }

    .leave-coment .footer-form input::-webkit-input-placeholder {
        text-align: left
    }

    .leave-coment .footer-form textarea::-webkit-input-placeholder {
        text-align: left
    }

    .garb-img {
        text-align: center;
        margin-top: 30px
    }
    .d-medium-none-lg {
        display: none
    }

    .breadcrumb-bg {
        padding-top: 10px;
        padding-bottom: 10px
    }

    .d-medium-none {
        display: none
    }

    .mobile-light-left {
        left: 20%
    }

    .mobile-light-right {
        right: 21%
    }

    .home-right {
        display: none
    }

    .home-contain {
        text-align: center
    }

    .home-contain>div {
        width: 100%
    }

    .home-decor .home-circle2 {
        right: -76px
    }

    .home-decor .home-circle3 {
        top: 211px;
        right: -47px
    }

    .about-phone {
        display: none
    }

    .index-footer {
        bottom: unset;
        padding-bottom: 0
    }

    .md-fgrup-margin {
        margin-bottom: 25px
    }

    .col-text-center {
        text-align: center
    }

    .d-align-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 380px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 380px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 370px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 370px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .md-height {
        height: 200px
    }

    .list-sidebar {
        margin-top: 50px
    }

    .mb-xs-4 {
        margin-bottom: 1.5rem
    }

    .animated-circle:before {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 40px;
        height: 40px;
        bottom: 50px
    }

    .animated-circle:after {
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 50px
    }

    .animated-circle.three:before {
        left: 0;
        right: 0;
        margin: 0 auto
    }

    .animated-circle.three:after {
        display: none
    }

    @-webkit-keyframes anim-effect-back {
        0% {
            -webkit-box-shadow: 0 0 0 20px #e0e0e0;
            box-shadow: 0 0 0 20px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 50px #e0e0e0;
            box-shadow: 0 0 0 50px #e0e0e0;
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 70px #e0e0e0;
            box-shadow: 0 0 0 70px #e0e0e0;
            opacity: 1
        }
    }

    @keyframes anim-effect-back {
        0% {
            -webkit-box-shadow: 0 0 0 20px #e0e0e0;
            box-shadow: 0 0 0 20px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 50px #e0e0e0;
            box-shadow: 0 0 0 50px #e0e0e0;
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 70px #e0e0e0;
            box-shadow: 0 0 0 70px #e0e0e0;
            opacity: 1
        }
    }

    @-webkit-keyframes anim-effect-front {
        0% {
            -webkit-box-shadow: 0 0 0 15px #e0e0e0;
            box-shadow: 0 0 0 15px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
            box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
            box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
            opacity: 0
        }
    }

    @keyframes anim-effect-front {
        0% {
            -webkit-box-shadow: 0 0 0 15px #e0e0e0;
            box-shadow: 0 0 0 15px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
            box-shadow: 0 0 0 30px rgba(224, 224, 224, 0.6);
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
            box-shadow: 0 0 0 40px rgba(224, 224, 224, 0);
            opacity: 0
        }
    }

    .margin-top-bottom {
        margin-top: 50px
    }

    .demo-description {
        line-height: 20px
    }

    .sm-d-none {
        display: none
    }

    .coming-title {
        font-size: 22px
    }

    .landing-title {
        margin-bottom: 0
    }

    .border-shape-two {
        margin: 20px auto 10px
    }

    .tapl-title {
        font-size: 24px
    }

    .center-sm {
        text-align: center
    }

    .about-style li {
        margin-bottom: 30px
    }

    .about-text p {
        text-align: left
    }

    .about-contain>div {
        width: 100%;
        text-align: center
    }

    .feature-decor .feature-circle1 {
        display: none
    }
    .mt-35>div+div {
        margin-top: 40px
    }

    .margin-bottom>div+div+div .review-box {
        margin-top: 30px
    }

    .margin-bottom>div+div .review-box {
        margin-top: 30px
    }

}

@media (max-width: 600px) {
    .margin-bottom>div .review-box {
        padding: 20px 15px
    }

    .landing-circle {
        display: none
    }

    .reply-comment .media img {
        width: 70px
    }

    .sm-mb {
        margin-bottom: 15px
    }

    .home-decor .home-circle3 {
        display: none
    }

    .home-decor .home-circle2 {
        right: -56px
    }

    .about-phone {
        display: none
    }

    .list-sidebar {
        margin-top: 50px
    }

    @-webkit-keyframes anim-effct-testi {
        0% {
            -webkit-box-shadow: 0 0 0 8px #e0e0e0;
            box-shadow: 0 0 0 8px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
            box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
            box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
            opacity: 0
        }
    }

    @keyframes anim-effct-testi {
        0% {
            -webkit-box-shadow: 0 0 0 8px #e0e0e0;
            box-shadow: 0 0 0 8px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
            box-shadow: 0 0 0 15px rgba(224, 224, 224, 0.6);
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
            box-shadow: 0 0 0 25px rgba(224, 224, 224, 0);
            opacity: 0
        }
    }

    @-webkit-keyframes anim-effct-testi-back {
        0% {
            -webkit-box-shadow: 0 0 0 8px #e0e0e0;
            box-shadow: 0 0 0 8px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 15px #e0e0e0;
            box-shadow: 0 0 0 15px #e0e0e0;
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 25px #e0e0e0;
            box-shadow: 0 0 0 25px #e0e0e0;
            opacity: 1
        }
    }

    @keyframes anim-effct-testi-back {
        0% {
            -webkit-box-shadow: 0 0 0 8px #e0e0e0;
            box-shadow: 0 0 0 8px #e0e0e0;
            opacity: 1
        }

        50% {
            -webkit-box-shadow: 0 0 0 15px #e0e0e0;
            box-shadow: 0 0 0 15px #e0e0e0;
            opacity: 1
        }

        100% {
            -webkit-box-shadow: 0 0 0 25px #e0e0e0;
            box-shadow: 0 0 0 25px #e0e0e0;
            opacity: 1
        }
    }

    .home-style-two .modal.video-play .modal-dialog {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0)
    }

    .home-style .modal.video-play .modal-dialog {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0)
    }

    .video-play iframe {
        height: 280px;
        width: 480px
    }

    .about-style li {
        margin-bottom: 25px
    }

    p.caption-about {
        margin-bottom: 22px
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 17px !important
    }

    .about-decor .about-circle2 {
        display: none
    }

    .landing-circle2 img {
        display: none
    }

    .about-contain>div {
        width: 100%;
        text-align: center
    }

    .footer-text h2 {
        margin: 20px
    }

    .animated-circle.three img {
        bottom: 20px
    }

    .animated-circle.three:before {
        bottom: 38px
    }

    .animated-circle.three:after {
        bottom: 38px
    }
}

@media (max-width: 576px) {
    .clock-box li {
        width: 50px;
        margin: 0px 5px 20px
    }

    .clock-box li span {
        font-size: 22px;
        width: 50px;
        height: 50px
    }
    .download {
        padding-bottom: 0;
        min-height: auto
    }

    .download .innerpage-decor {
        display: none
    }

    .download .downlod-img {
        margin-bottom: 20px;
        height: 125px
    }

    .download h3 {
        margin-top: 0
    }

    .authentication-form .social-btns .fb {
        margin-bottom: 10px
    }

    .authentication-form .card {
        padding: 15px;
        width: 290px
    }

    .authentication-form p {
        width: 90%;
        margin-bottom: 15px
    }

    .mob-mocup {
        /*display: none*/
    }

    .screenshot-item {
        border-radius: 10px;
        overflow: hidden
    }

    section,
    .footer {
        padding-top: 50px
    }

    .marg-20 {
        margin: 7px auto
    }

    .mb-xs-4 {
        margin-bottom: 15px
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 370px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 370px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -120px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 350px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 350px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .features-img {
        width: 214px
    }

    .coming-title {
        font-size: 18px;
        line-height: 1.5
    }

    .tapl-title {
        font-size: 18px
    }

    .rating-star img {
        margin-right: 15px;
        width: 40px
    }

    h2.title {
    }

    .feature h2 {
        font-size: 20px
    }

    .home-contain p {
        line-height: 18px;
        padding: 0 15px
    }

    .footer-text p {
        line-height: 18px
    }

    section .about-contain {
        -webkit-animation: none;
        animation: none
    }

    section .about-phone {
        -webkit-animation: none;
        animation: none
    }

    section .feature-phone {
        -webkit-animation: none;
        animation: none
    }

    section .screenshot-contain {
        -webkit-animation: none;
        animation: none
    }

    section .contact-right {
        -webkit-animation: none;
        animation: none
    }

    section .contact-us {
        -webkit-animation: none;
        animation: none
    }

    section .footer-text {
        -webkit-animation: none;
        animation: none
    }

    section .contact-subscribe {
        -webkit-animation: none;
        animation: none
    }

    section .feature-style li:nth-child(1) {
        -webkit-animation: none;
        animation: none
    }

    section .feature-style li:nth-child(2) {
        -webkit-animation: none;
        animation: none
    }

    section .feature-style li:nth-child(3) {
        -webkit-animation: none;
        animation: none
    }

    section .bottom-section .footer-style {
        -webkit-animation: none;
        animation: none
    }

    section .map iframe {
        -webkit-animation: none;
        animation: none
    }
}

@media (max-width: 575.98px) {
    .about-style li {
        min-height: auto
    }

    .screenshot {
        background-size: cover
    }

    .home-style-two .modal.video-play .modal-dialog {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0)
    }

    .home-style .modal.video-play .modal-dialog {
        -webkit-transform: translate(0%, 0);
        transform: translate(0%, 0)
    }
}

@media (max-width: 480px) {
    .home-two {
        background-position: 35%;
        background-size: cover
    }

    .mobile-light-right {
        right: 20%
    }

    @-webkit-keyframes highlight-left {
        0% {
            opacity: 0;
            top: 310px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -100px
        }
    }

    @keyframes highlight-left {
        0% {
            opacity: 0;
            top: 310px
        }

        70% {
            opacity: 1
        }

        100% {
            opacity: 0;
            top: -100px
        }
    }

    @-webkit-keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 300px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    @keyframes highlight-right {
        0% {
            opacity: 0;
            bottom: 0;
            -webkit-transform: scale(0);
            transform: scale(0)
        }

        70% {
            opacity: 1;
            -webkit-transform: scale(1);
            transform: scale(1)
        }

        100% {
            opacity: 0;
            top: 300px;
            -webkit-transform: scale(0);
            transform: scale(0)
        }
    }

    .pc-bg {
        width: 270px;
        height: 150px
    }

    .img-scroll {
        left: 12px;
        top: 7px;
        width: calc(100% - 29px);
        height: calc(100% - 23px)
    }

    .landing-caption {
        line-height: 1.2 !important
    }

    .feature-subtitle h3 {
        font-size: 14px;
        line-height: 18px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin: 0
    }

    .feature-style p {
        line-height: 18px
    }

    .breadcrumb-bg h2 {
        font-size: 18px
    }

    .owl-theme .owl-nav.disabled+.owl-dots {
        margin-top: 15px;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: auto
    }
    img.main-logo {
        width: 60%
    }

    .features li {
        padding: 20px 0
    }

    .features li:nth-child(15) {
        border-bottom: 1px solid #ddd
    }
}

@media (max-width: 480px) and (max-width: 479.5px) {
    .features li {
        border-right: none
    }
}

@media (max-width: 480px) and (max-width: 400px) {
    h1 {
        font-size: 34px
    }

    .feature-subtitle {
        margin-bottom: 5px
    }

    .mobile-light-left {
        display: none
    }

    .mobile-light-right {
        display: none
    }

    .testi-circle1 {
        display: none
    }

    .testi-circle2 {
        display: none
    }

    .coming-title {
        margin-top: 50px
    }

    .tap-top {
        width: 40px;
        height: 40px;
        line-height: 1.7
    }

    .feature-style p {
        font-size: 12px
    }

    .video-play iframe {
        height: 200px
    }

    .footer-text h2 {
        margin: 10px auto;
        font-size: 17px
    }

    .features li {
        border-right: none
    }

    .mt-35>div+div {
        margin-top: 50px
    }

    .rating-star img {
        margin-right: 10px;
        width: 20px
    }
}

@media (max-width: 480px) and (max-width: 360px) {

    .feature-subtitle h3 {
        line-height: 15px
    }

    .feature-subtitle p {
        font-size: 9px
    }

    .home-decor .home-circle1 {
        left: 50px
    }

    .home-decor .home-circle2 {
        right: -62px;
        top: 100px
    }

    .marg-20 {
        margin: 5px auto
    }
}

@media (max-width: 480px) and (max-width: 340px) {
    .footer-form {
        padding: 0
    }
}

@media (max-width: 480px) and (max-width: 320px) {
    .home-three .play-button {
        margin-top: 70px
    }

    .animated-circle:before {
        bottom: 20px
    }

    .play-button img {
        bottom: 0
    }
}

@media (max-width: 1669px) and (min-width: 1367px) {
    .rtl .feature-phone {
        top: 110px;
        right: 90px
    }

    .rtl .feature-phone img {
        width: 70%
    }
}

@media (max-width: 1366px) {
    .rtl .about {
        background-position: left
    }

    .rtl .feature-phone {
        top: 126px;
        right: 0
    }
}

@media (max-width: 991px) {

    .rtl .about-decor .about-circle1 {
        right: unset;
        left: 50px;
        top: auto
    }

    h3 {
        line-height: 24px;
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .rtl .home-two,
    .rtl .home-three {
        background-color: #fff
    }
    
    .rtl .home-contain {
        text-align: center
    }

    /*  */
    p.caption-about{
        text-align: center;
    }
    .about-style{
        padding: 0;
    }
    .about-icon{
        position: unset;
    }
    .about-style li{
        display: flex;
        align-items: center
    }

    .download{
        padding: 30px 0;
    }
    .download img{
        max-width: 280px;
        margin-top: 30px;
    }
}