@font-face {

    font-family: 'regular';
    src        : url('../fonts/Cairo-Regular.ttf');
}

@font-face {

    font-family: 'semi-bold';
    src        : url('../fonts/Cairo-SemiBold.ttf');
}

@font-face {

    font-family: 'bold';
    src        : url('../fonts/Cairo-Bold.ttf');
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing   : border-box;
    -o-box-sizing     : border-box;
    box-sizing        : border-box;
    margin            : 0;
    padding           : 0;
}

$primary-color  : #064b77;
$secondary-color: #fff;

$bar-width  : 30px;
$bar-height : 3px;
$bar-spacing: 8px;

%ease {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition   : all .3s ease-in-out;
    -o-transition     : all .3s ease-in-out;
    transition        : all .3s ease-in-out;
}

%shadow {
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    box-shadow        : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
}

a,
button {
    text-decoration: none !important;
    outline        : none !important;
    @extend %ease;

    &:focus {
        outline: none !important;
    }
}

.btn-link:hover {
    color: $secondary-color !important;
}


// loader

#preloader-first {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #FFF;
    z-index: 99999
}
.loader-first {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
}
    
.dot-first {
    width: 10px;
    height: 10px;
    background: $primary-color;
    border-radius: 100%;
    display: inline-block;
    animation: slide-first 1s infinite;
}
    
.dot-first:nth-child(1) {
    animation-delay: 0.1s;
    background: $primary-color;
}
    
.dot-first:nth-child(2) {
    animation-delay: 0.2s;
    background: $primary-color;
}
    
.dot-first:nth-child(3) {
    animation-delay: 0.3s;
    background: $primary-color;
}
    
.dot-first:nth-child(4) {
    animation-delay: 0.4s;
    background: $primary-color;
}
    
.dot-first:nth-child(5) {
    animation-delay: 0.5s;
    background: $primary-color;
}
    
@-moz-keyframes slide-first {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
    
@-webkit-keyframes slide-first {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
    
@-o-keyframes slide-first {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
    
@keyframes slide-first {
    0% {
        transform: scale(1);
    }
    50% {
        opacity: 0.3;
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}
body {
    font-family: regular;
    color      : #a2a2a2;
    font-size  : 16px;
    line-height: 28px;
    overflow-x : hidden;
    direction  : ltr;
    text-align : left
}

h1,
h2,
h3 {
    font-family: bold;
}


.list-inline,
.list-unstyled,
p {
    margin : 0px;
    padding: 0px;
}

a:hover,
a:focus {
    text-decoration: none !important;
    color          : $secondary-color;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline           : none;
    outline           : 0;
    background        : none;
    -webkit-box-shadow: none;
    -o-box-shadow     : none !important;
    -moz-box-shadow   : none !important;
    box-shadow        : none !important;
}

input,
.form-control,
input:focus,
.form-control:focus {
    box-shadow        : none;
    -webkit-transition: none;
    -o-transition     : none;
    outline           : none;
}

::-webkit-input-placeholder {
    color: #c3c3c3;
}

::-moz-placeholder {
    color: #c3c3c3;
}

:-ms-input-placeholder {
    color: pink;
}

:-moz-placeholder {
    color: #c3c3c3;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color  : #F5F5F5;
}

::-webkit-scrollbar {
    width           : 10px;
    background-color: #F5F5F5;
    border-radius   : 8px;
}

::-webkit-scrollbar-thumb {
    background-color: $primary-color;
    border-radius   : 8px;
}



.visible {
    display: block !important;
}

.hidden {
    display: none;
}

// start home page
.top-header {
    padding      : 20px 0;
    margin-bottom: 20px;

    .right-side {
        img {
            width: 250px;
        }
    }

    .left-side {
        text-align: right;
        position  : absolute;
        right      : 0;
        z-index   : 9;

        .btn-link {
            background-image : -moz-linear-gradient(-90deg, rgb(8, 104, 166) 0%, rgb(6, 75, 119) 100%);
            background-image : -webkit-linear-gradient(-90deg, rgb(8, 104, 166) 0%, rgb(6, 75, 119) 100%);
            background-image : -ms-linear-gradient(-90deg, rgb(8, 104, 166) 0%, rgb(6, 75, 119) 100%);
            background-repeat: no-repeat;
            color            : #fff;
            border-radius    : 30px;
            text-align       : left;
            width            : 140px;
            margin-bottom    : 10px;
            padding          : 8px 15px;
            font-size        : 15px;

            &.center {
                text-align: center;
            }

            img {
                width      : 20px;
                margin-right: 8px;
            }

            .user-icon {
                width: 15px
            }

            .down {
                display : inline-block !important;
                position: absolute;
                right    : 15px;

                .svg-inline--fa {
                    font-size: 13px;
                }
            }


            .hidden.up {
                display: none;
            }
        }
    }
}

.bg-light {
    background-color: #e6e6e6 !important;
    padding         : 0;
}

.navbar-light {

    .navbar-nav {
        .nav-link {
            color         : $primary-color;
            font-weight   : 600;
            font-size     : 18px;
            letter-spacing: 1px;
            padding       : 16px 40px;
            position      : relative;
            z-index       : 2;

            &:hover,
            :focus {
                color: $primary-color;
            }
        }

        .active>.nav-link,
        .nav-link.active,
        .nav-link.show,
        .show>.nav-link {
            color: $secondary-color;
        }

        .nav-item {
            position: relative;
            z-index : 2;
        }

        .nav-item.active {
            color: $secondary-color;
        }

        .nav-item:after {
            content          : "";
            position         : absolute;
            top              : -8px;
            bottom           : -8px;
            width            : 100%;
            background-size  : 100% 100%;
            background-repeat: no-repeat;
            right            : 0;
            right             : 0;
            z-index          : 1;
        }

        .nav-item.active:after {
            background-image: url(../images/navitem-bg.png);
        }
    }

    .navbar-toggler {
        position: relative;
        width   : 40px;
        height  : 40px;
        border  : 0;
    }

    .menu-wrapper {
        height       : $bar-height + $bar-spacing*2;
        cursor       : pointer;
        margin-bottom: 14px;
    }

    .hamburger-menu,
    .hamburger-menu:after,
    .hamburger-menu:before {
        width : $bar-width;
        height: $bar-height;
    }

    .hamburger-menu {
        position     : relative;
        transform    : translateY($bar-spacing);
        background   : $primary-color;
        transition   : all 0ms 300ms;
        display      : block;
        margin-bottom: 15px;
        z-index      : 99;

        &.animate {
            background: transparent;
        }
    }

    .hamburger-menu:before {
        content   : "";
        position  : absolute;
        right      : 0;
        bottom    : $bar-spacing;
        background: $primary-color;
        transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hamburger-menu:after {
        content   : "";
        position  : absolute;
        right      : 0;
        top       : $bar-spacing;
        background: $primary-color;
        transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .hamburger-menu.animate:after {
        top       : 0;
        transform : rotate(45deg);
        transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        ;
    }

    .hamburger-menu.animate:before {
        bottom    : 0;
        transform : rotate(-45deg);
        transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
        ;
    }
}

.navbar-expand-lg .navbar-brand {
    display: none;
}

@media (min-width: 992px) {
    .main-menu {
        .navbar-expand-lg {
            .navbar-nav {
                width          : 100%;
                justify-content: center;
                padding        : 0;

            }
        }
    }
}

.page-content {

    h3.tilte {
        color        : $primary-color;
        margin-bottom: 20px;
        text-align   : center;
        font-size    : 22px;
    }

    // start about slider
    .about-block {
        padding: 40px 0;

        .about-slider {
            @extend %shadow;
            border-radius: 20px;
            overflow     : hidden;
            height       : 400px;

            .item {
                background-color   : rgb(255, 255, 255);
                padding            : 40px;
                // height          : 355px;
                display            : flex;
                justify-content    : center;
                align-items        : center;

            }

            .slick-dots {
                bottom: 25px;

                li {
                    width: unset;

                    button {
                        width        : 13px;
                        height       : 13px;
                        background   : $primary-color;
                        border-radius: 50%;
                        border       : 2px solid $primary-color;

                        &:before {
                            display: none
                        }
                    }
                }

                .slick-active {
                    button {
                        background: $secondary-color;
                    }
                }
            }

            .slick-prev,
            .slick-next {
                z-index: 9;
            }

            .slick-prev {
                right: 0;
                left: unset;
            }

            .slick-next {
                left: 0;
            }

            .slick-prev:before,
            .slick-next:before {
                color            : $primary-color;
                content          : "";
                background-image : url(../images/icon/arrow-prev.png);
                background-repeat: no-repeat;
                width            : 10px;
                height           : 17px;
                background-size  : 100% 100%;
                position         : absolute;
                right            : 10px;
                top              : 0;
                opacity          : 1;
                transition       : all 0.4s ease-in;

                &:hover {
                    opacity: 0.75;
                }
            }

            .slick-next:before {
                background-image: url(../images/icon/arrow-next.png);
                left            : 10px;
            }
        }

        .form-rate {
            border-radius     : 20px;
            background-image  : -moz-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            background-image  : -webkit-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            background-image  : -ms-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            box-shadow        : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            padding           : 40px;
            text-align        : center;
            min-height        : 400px;

            .choices {
                margin-bottom: 20px;
            }


            .select2-container {
                width        : 100% !important;
                box-shadow   : 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
                border-radius: 20px;
                overflow     : hidden;
            }

            .select2-container--default .select2-selection--single {
                height       : 45px;
                line-height  : 45px;
                border-radius: 10px;
                border       : 1px solid transparent;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered {
                line-height: 45px;
                color      : #c3c3c3;
                padding    : 0 16px;
            }

            .select2-container--default .select2-selection--single .select2-selection__rendered:focus,
            .select2-container--default .select2-selection--single {
                outline: none !important
            }

            .select2-container--default .select2-selection--single .select2-selection__arrow {
                position: absolute;
                top     : 18px;
                right    : 20px;

                b {
                    border: none;
                }

                &:after {
                    position         : absolute;
                    content          : "";
                    background-image : url(../images/icon/arrow-down.png);
                    background-repeat: no-repeat;
                    width            : 15px;
                    height           : 15px;
                    background-size  : 100%;
                }
            }

            button {
                background   : #dd1e27;
                color        : $secondary-color;
                height       : 45px;
                line-height  : 45px;
                width        : 50%;
                border-radius: 33px;
                padding      : 0;
                margin-top   : 20px;
                font-weight  : 600;

                &:hover {
                    background: $primary-color
                }
            }

            .tab {
                display: none;
            }

            .check-block {
                .title {
                    font-size: 18px;
                }

                margin-bottom: 20px;

                .check-title {
                    font-size    : 18px;
                    margin-bottom: 20px;
                    color        : #7a7a7a;
                }

                .check-input {
                    display        : flex;
                    justify-content: space-between;

                    .check-one {
                        width        : 30%;
                        background   : $secondary-color;
                        border-radius: 20px;
                        height       : 40px;
                        line-height  : 40px;
                        position     : relative;

                        input[type=checkbox],
                        input[type=radio] {
                            height : 100%;
                            width  : 100%;
                            right   : 0;
                            left  : 0;
                            opacity: 0;
                            z-index: 2;
                            @extend %ease;
                        }

                        label {
                            position     : absolute;
                            z-index      : 3;
                            top          : 0;
                            left         : 50%;
                            transform    : translateX(-50%);
                            width        : 100%;
                            overflow     : hidden;
                            border-radius: 20px;
                            cursor       : pointer;
                            color        : $primary-color;
                        }

                        input[type=radio]:checked+label {
                            background-color: $primary-color;
                            color           : $secondary-color;
                        }
                    }
                }
            }

            .form-inpt {
                height       : 45px;
                line-height  : 45px;
                border       : 1px solid transparent;
                color        : #c3c3c3;
                padding      : 0 16px;
                width        : 100%;
                margin       : 0 auto 20px;
                box-shadow   : 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
                border-radius: 20px;
                position     : relative;
                display      : block;
            }

        }
    }

    //start news block
    .news-block {
        padding: 40px 0;

        .new-details {
            margin: 20px 0 40px;

            .report-new {
                width: 80%;

                .reoprt-title {
                    color        : #7b7b7b;
                    font-size    : 20px;
                    margin-bottom: 20px;
                }

                .new-title {
                    color        : #aeaeae;
                    font-size    : 18px;
                    margin-bottom: 20px;
                }

                .new-description {
                    color      : #aeaeae;
                    font-size  : 17px;
                    line-height: 28px;
                    position   : relative;

                    &:after {
                        position: absolute;
                        content : "";
                        border  : 2px solid #e2e2e2;
                        left    : 0;
                        right   : 0;
                        bottom  : -20px;
                        width   : 75%;
                        margin  : auto;

                    }
                }

                .owner-new {
                    margin-top : 40px;
                    display    : flex;
                    align-items: center;
                    padding    : 0 10px;

                    .owner-avater {
                        width        : 60px;
                        height       : 60px;
                        border-radius: 50%;
                        overflow     : hidden;
                        box-shadow   : 0px 0px 38px 0px rgba(0, 0, 0, 0.06);

                        img {
                            height: 100%;
                        }
                    }

                    .owner-info {
                        margin-left: 20px;

                        .owner-name {
                            font-weight: 600;
                            color      : #888;
                        }

                        .show-date {
                            color: #aeaeae
                        }
                    }
                }
            }

            .new-img {
                border-radius: 20px;
                overflow     : hidden;
            }
        }

        .all-new {
            padding: 0 20px;
        }

        .content {
            display      : flex;
            border       : 2px solid $primary-color;
            border-radius: 20px;
            padding      : 10px;

            .new-right {
                border-radius: 20px;
                overflow     : hidden;
                width        : 120px;
                height       : 105px;
                border       : 2px solid $primary-color;

                img {
                    width : 100%;
                    height: 100%;
                }
            }

            .new-left {
                width        : calc(100% - 120px);
                padding-left: 15px;

                .new-title {
                    color        : #aeaeae;
                    font-size    : 15px;
                    line-height  : 20px;
                    margin-bottom: 5px;
                    font-weight  : 600;
                }

                .new-description {
                    height     : 60px;
                    overflow   : hidden;
                    color      : #aeaeae;
                    font-size  : 13px;
                    line-height: 20px;
                }
            }
        }
    }

    // start recently-added
    .recently-added {
        padding   : 40px 0;
        background: #f8f8f8;

        .slider {
            margin: 20px 0;

            .item {
                padding: 0 20px;

                .content {
                    border-radius: 20px;
                    overflow     : hidden;
                    border       : 2px solid $primary-color;

                    img {
                        width : 100%;
                        height: 100%;
                    }
                }
            }

            .slick-dots {
                bottom: 20px;

                li {
                    width: unset;

                    button {
                        width        : 13px;
                        height       : 13px;
                        background   : $primary-color;
                        border-radius: 50%;
                        border       : 2px solid $primary-color;

                        &:before {
                            display: none
                        }
                    }
                }

                .slick-active {
                    button {
                        background: $secondary-color;
                    }
                }
            }

            .slick-prev,
            .slick-next {
                z-index: 9;
            }

            .slick-prev:before,
            .slick-next:before {
                color            : $primary-color;
                content          : "";
                background-image : url(../images/icon/arrow-next.png);
                background-repeat: no-repeat;
                width            : 10px;
                height           : 17px;
                background-size  : 100% 100%;
                position         : absolute;
                right            : 10px;
                top              : 0;
                opacity          : 1;
                transition       : all 0.4s ease-in;

                &:hover {
                    opacity: 0.75;
                }
            }

            .slick-next:before {
                background-image: url(../images/icon/arrow-prev.png);
                right            : 10px;
                left          : unset;
            }
        }
    }

    // login page
    .login-block {
        padding: 40px 0;
        position: relative;
        min-height: 650px;

        .form-login {
            border-radius     : 20px;
            background-image  : -moz-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            background-image  : -webkit-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            background-image  : -ms-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
            -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            box-shadow        : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            padding           : 40px;
            text-align        : center;

            .input-block {
                position: relative;

                .form-inpt {
                    height       : 45px;
                    line-height  : 45px;
                    border       : 1px solid transparent;
                    color        : #c3c3c3;
                    padding      : 0 16px;
                    width        : 100%;
                    margin       : 0 auto 20px;
                    box-shadow   : 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
                    border-radius: 20px;
                    position     : relative;
                    display      : block;
                }

                .img-eyes1 {
                    position : absolute;
                    top      : 50%;
                    cursor   : pointer;
                    transform: translateY(-50%);
                    right     : 10px;
                }
            }

            .forget-pas {
                a {
                    color    : #dd1e27;
                    font-size: 14px;
                    @extend %ease;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }

            .btn {
                background   : #dd1e27;
                color        : #fff;
                height       : 45px;
                line-height  : 45px;
                width        : 50%;
                border-radius: 33px;
                padding      : 0;
                margin-top   : 20px;
                font-weight  : 600;
                @extend %ease;

                &:hover {
                    background: $primary-color;
                }
            }
        }

        .right-img {
            position: absolute;
            right: 0;
            top: 30px;
            bottom: 0;
            width: 50%;
            transform: scaleX(-1);

            img {
                width: 100%;
                height: auto;
                max-height: 100%;
            }
        }
    }

    // register
    .first-row {
        display        : flex;
        justify-content: space-between;

        .input-block {
            &:first-child {
                padding-right: 10px;
            }

            &:last-child {
                padding-left: 10px;
            }

            .form-inpt {
                width: unset;
            }
        }
    }

    // contact page
    .form-contact {
        border-radius     : 20px;
        background-image  : -moz-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
        background-image  : -webkit-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
        background-image  : -ms-radial-gradient(50% 50%, circle closest-side, rgb(249, 249, 249) 0%, rgb(214, 214, 214) 100%);
        -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
        box-shadow        : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
        padding           : 40px;
        text-align        : center;
        min-height        : 400px;

        .form-inpt,
        textarea {
            height       : 45px;
            line-height  : 45px;
            border       : 1px solid transparent;
            color        : #c3c3c3;
            padding      : 0 16px;
            width        : 100%;
            margin       : 0 auto 20px;
            box-shadow   : 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
            border-radius: 20px;
            position     : relative;
            display      : block;
            overflow     : hidden;
            resize       : none;

            &:focus {
                outline: none;
            }
        }

        button {
            background   : #dd1e27;
            color        : $secondary-color;
            height       : 45px;
            line-height  : 45px;
            width        : 50%;
            border-radius: 33px;
            padding      : 0;
            margin-top   : 20px;
            font-weight  : 600;
            border       : 1px solid transparent;

            &:hover {
                background: $primary-color
            }
        }
    }

    // map
    .map-block {
        margin: 40px 0;
        @extend %shadow;
        position  : relative;
        min-height: 400px;

        #map {
            height  : 400px;
            position: relative;
            .gm-style .gm-style-iw-d{
                overflow: hidden !important;
            }
            .info_content {
                min-width: 280px;
                height: 60px;

                h3 {
                    color        : $primary-color;
                    text-align   : center;
                    font-size    : 14px;
                    margin-bottom: 10px;
                }
                h4{
                    color        : $primary-color;
                    text-align   : center;
                    font-size    : 14px;
                    margin: 0;
                    font-family: 'regular'
                }
            }
        }

        .Complaints {
            position        : absolute;
            top             : 0;
            left           : 0;
            height          : 100%;
            background-color: rgba(255, 255, 255, 0.8);
            padding         : 80px 40px;

            .title {
                color        : $primary-color;
                font-size    : 22px;
                margin-bottom: 20px;

                .icon {
                    margin-right: 15px;

                    img {
                        width: 40px;
                    }
                }
            }

            ul {
                li {
                    display      : flex;
                    color        : #686868;
                    margin-bottom: 10px;
                    font-size    : 18px;
                    line-height  : 32px;

                    &:last-child {
                        margin: 0
                    }

                    span.icon {
                        width      : 25px;
                        margin-right: 10px;

                        img {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // brands-block
    .brands-block {
        border-radius: 20px;
        height       : 400px;
        padding      : 40px 30px;
        @extend %shadow;
        position           : relative;
        background-image   : url(../images/bg/brand-bg.png);
        background-position: 100% 100%;
        background-repeat  : no-repeat;
        background-size    : cover;
        overflow-y         : auto;

        &:after {
            content      : '';
            position     : absolute;
            left         : 50%;
            top          : -20px;
            transform    : translateX(-50%);
            width        : 0;
            height       : 0;
            border-left  : 20px solid transparent;
            border-right : 20px solid transparent;
            border-bottom: 20px solid #ffffff;
            clear        : both;
        }

        .all-brands {
            width: 100%;

            .single-brand {
                width        : 20%;
                float        : right;
                padding      : 0 10px;
                margin-bottom: 20px;

                img {
                    width: 100%;
                }
            }
        }
    }

    // categories
    .all-categories {
        padding: 60px 0 40px;

        .brand-info {
            margin-bottom: 40px;

            .brand-card {
                padding: 20px;
                @extend %shadow;
                background-color: $secondary-color;
                border-radius   : 10px;
                height          : 200px;
                display         : flex;
                align-items     : center;
                justify-content : center;
            }

            .brand-title {
                color        : #064b77;
                margin-bottom: 20px;
                font-size    : 22px;
            }

            .brand-description {
                color      : #aeaeae;
                font-size  : 17px;
                line-height: 28px;
                position   : relative;
            }
        }

        // brand tabs
        .tabs-block {
            padding: 20px 0;

            .categories-pills {
                display        : flex;
                justify-content: space-between;

                li.nav-item {
                    width        : 23%;
                    border-radius: 20px;
                    overflow     : hidden;

                    .nav-link {
                        text-align   : center;
                        border-radius: 20px;
                        font-family  : 'bold';
                        border       : 2px solid #eaa50f;
                        color        : #eaa50f;
                        @extend %ease;

                        &:hover {
                            background-image: -moz-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                            background-image: -webkit-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                            background-image: -ms-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                            background-color: transparent;
                            border          : 2px solid #eaa50f;
                            color           : $secondary-color !important;
                        }

                    }

                }

                .nav-link.active,
                .show>.nav-link {
                    background-image: -moz-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                    background-image: -webkit-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                    background-image: -ms-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                    background-color: transparent;
                    border          : 2px solid #eaa50f;
                    color           : $secondary-color !important;
                }

            }

            .categories-cards {
                margin-top: 20px;

                .brand-card {
                    padding         : 20px;
                    box-shadow      : 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
                    background-color: $secondary-color;
                    border-radius   : 10px;
                    height          : 200px;
                    display         : flex;
                    align-items     : center;
                    justify-content : center;
                    cursor          : pointer;
                    position        : relative;
                    overflow        : hidden;

                    &:after {
                        content         : "";
                        position        : absolute;
                        top             : 0;
                        right            : 0;
                        width           : 100%;
                        height          : 100%;
                        background-color: rgba(0, 64, 133, 0.3);
                        opacity         : 0;
                        @extend %ease;
                    }

                    img {
                        width: 100%;
                    }
                }

                .brand-title {
                    margin-top: 20px;

                    h4 {
                        color      : $primary-color;
                        font-size  : 16px;
                        font-weight: 600;
                        text-align : center;
                        @extend %ease;
                    }
                }

                a {
                    margin : 20px 0;
                    display: block;

                    &:hover {
                        .brand-card:after {
                            opacity: 1;
                        }

                        h4 {
                            color: #dd1e27;
                        }
                    }
                }
            }

            // available years ,product-pills
            .available-pills,
            .product-pills {
                display        : flex;
                justify-content: center;

                li.nav-item {
                    width      : 200px;
                    margin-right: 40px;
                    box-shadow : 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
                    overflow   : hidden;
                }
            }

        }

        // recent offers
        .recent-offers {
            padding: 40px 0 0;

            .offer-img {
                border-radius: 20px;
                overflow     : hidden;

                img {
                    // width: 100%;
                }
            }

            .offer-detail {
                h3.tilte {
                    text-align: left;
                }

                p {
                    margin-bottom: 20px;
                }
            }
        }

        .more {
            .more-link {
                background   : #dd1e27;
                color        : #fff;
                height       : 45px;
                line-height  : 45px;
                width        : 200px;
                border-radius: 33px;
                padding      : 0;
                font-weight  : 600;
                display      : block;
                margin       : 20px auto;
                text-align   : center;
                @extend %ease;

                &:hover {
                    background: $primary-color;
                }
            }
        }
    }

    // installmen page
    .installment-block {
        padding: 60px 0 40px;

        h3.tilte {
            text-align: left;
        }

        .brand-slider {
            clear: both;
            .product {
                width      : 75%;
                margin-right: 20px;
                float      : left;
                @extend %shadow;
                border-radius: 20px;
                overflow     : hidden;
                margin-bottom: 40px;
                .new-img{
                    height: 360px;
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .top-overlay{
                position: relative;
                .social-content{
                    position: absolute;
                    top: -5px;
                    left: -12px;
                    width: 100%;
                    &:before{
                        content: "";
                        position: absolute;
                        width: 420px;
                        height: 50px;
                        background-image: url(../images/bg/social-bg.png);
                        background-repeat: no-repeat;
                        background-size: 40% 100%;
                        background-position: right;
                        z-index: 8;
                        transform: scaleX(-1)
                    }
                    .links{
                        position: relative;
                        z-index: 9;
                        margin-left: 40px;

                        a{
                            color: $secondary-color;
                            padding: 10px;
                            display: inline-block;
                            @extend %ease;
                            &:hover{
                                color: #dd1e27;
                            }
                        }
                    }
                }
            }
            .bottom-overlay{
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(255, 255, 255, 0.4);
                z-index: 9;
                height: 50px;
                .fullscreen{
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    right: 10px;
                    bottom: 10px;
                }
                  
            }

            .product-list {
                width: 20%;
                float: right;

                .all-new {
                    width        : 100% !important;
                    border-radius: 20px;
                    overflow     : hidden;
                    margin-bottom: 20px;
                    position     : relative;
                    height: 106.66px;
                    img{
                        height: 100%;
                        width: 100%;
                    }

                    &:last-child {
                        margin: 0;
                    }
                }
            }

            .slick-prev, .slick-next{
                left: 10px;
                bottom: 10px;
                top: unset;
                transform: unset;
                z-index: 7;
                display: flex;
                align-items: center;
                width: 30px;
                height: 30px;
                background-color: $primary-color;
                border-radius: 50%;
                display: inline-block !important;
            }
            .slick-prev{
                left: 50px;
            }
            .slick-prev:before,
            .slick-next:before {
                content: "";
                background-image: url(../images/icon/arrow-prev-w.png);
                background-repeat: no-repeat;
                width: 8px;
                height: 15px;
                background-size: 100% 100%;
                position: absolute;
                top: 50%;
                opacity: 1;
                transition: all 0.4s ease-in;
                transform: translate(-50%,-50%);
                left: 50%;

                &:hover {
                    opacity: 0.75;
                }
            }
            .slick-next:before {
                background-image: url(../images/icon/arrow-next-w.png);
            }
        }
        .brand-info{
            padding: 20px;
            box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
            background-color: $secondary-color;
            clear: both;
            border-radius: 20px;
            overflow: hidden;
            .title{
                color: #064b77;
                margin-bottom: 20px;
                font-size: 22px;
            }
            ul{
                li{
                    width: 33%;
                    float: left;
                    position: relative;
                    padding-left: 20px;
                    &:before{
                        position: absolute;
                        content: "";
                        width: 8px;
                        height: 8px;
                        background: rgba(6, 75, 119, 0.61);
                        border-radius: 50%;
                        top: 50%;
                        left: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }

        .ads-block {
            .social-media {
                margin: 40px auto 20px;
                display: flex;
                justify-content: space-around;
                li{
                    a {
                        background-image: -moz-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                        background-image: -webkit-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                        background-image: -ms-linear-gradient(90deg, rgb(236, 155, 15) 0%, rgb(228, 190, 14) 100%);
                        background-color: transparent;
                        width: 45px;
                        height: 45px;
                        display: inline-block;
                        border-radius: 50%;
                        text-align: center;
                        color: $secondary-color;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 24px;
                        .fa-phone-volume{
                            transform: rotate(-45deg);
                        }
                    }
                }
            }

            .ads-area {
                border-radius: 10px;
                overflow     : hidden;
                float        : right;
            }
        }

    }

    // more brands
    .more-brands {
        padding: 40px 0px;

        .brand-card {
            padding         : 20px;
            box-shadow      : 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
            background-color: $secondary-color;
            border-radius   : 10px;
            height          : 200px;
            display         : flex;
            align-items     : center;
            justify-content : center;
            cursor          : pointer;
            position        : relative;
            overflow        : hidden;

            &:after {
                content         : "";
                position        : absolute;
                top             : 0;
                right            : 0;
                width           : 100%;
                height          : 100%;
                background-color: rgba(0, 64, 133, 0.3);
                opacity         : 0;
                @extend %ease;
            }

            img {
                width: 100%;
            }
        }

        .brand-title {
            margin-top: 20px;

            h4 {
                color      : $primary-color;
                font-size  : 16px;
                font-weight: 600;
                text-align : center;
                @extend %ease;
            }
        }

        a {
            margin : 20px 0;
            display: block;

            &:hover {
                .brand-card:after {
                    opacity: 1;
                }

                h4 {
                    color: #dd1e27;
                }
            }
        }
        .more{
            .more-link{
                background: #dd1e27;
                color: #fff;
                height: 45px;
                line-height: 45px;
                width: 200px;
                border-radius: 33px;
                padding: 0;
                font-weight: 600;
                display: block;
                margin: 20px auto;
                text-align: center;
                @extend %ease;
                
                &:hover{
                    background: $primary-color;
                }
            }
        }
    }

    // about page
    .about-page {
        padding: 40px 0;
        position: relative;
        min-height: 650px;

        .about-content {
            margin-bottom: 20px;

            .about-title {
                color        : #dd1e27;
                margin-bottom: 20px;
                text-align   : left;
                font-size    : 22px;
            }

            .about-description {
                font-size: 20px;
            }
        }

        .about-img {
            position: absolute;
            right: 0;
            top: 30px;
            width: 50%;
            transform: scaleX(-1);

            img {
                width: 100%;
                height: 100%;
            }

        }
    }
}

.footer {
    padding: 40px 0 0;

    .right-block {
        display        : flex;
        justify-content: space-between;

        h3.tilte {
            color      : $primary-color;
            font-size  : 17px;
            font-weight: 600;

            .title-icon img {
                width: 30px;
            }
        }

        ul {
            margin-top: 20px;

            li {
                margin-bottom: 10px;

                a {
                    color      : #bcbcbc;
                    font-size  : 15px;
                    font-weight: 600;
                    transition : all 0.4s ease-in;

                    &:hover {
                        color: #e51f29 !important;
                    }
                }

            }
        }
    }

    .center-block {
        .description p {
            text-align: center;
            font-size : 17px;
            color     : #e51f29;
            margin    : 20px auto;
        }

        .social-links {
            ul {
                display        : flex;
                justify-content: space-between;
                width          : 80%;
                margin         : auto;

                li {
                    a {
                        color          : $primary-color;
                        transition     : all 0.4s ease-in;
                        border         : 1px solid #064b77;
                        border-radius  : 50%;
                        width          : 30px;
                        height         : 30px;
                        text-align     : center;
                        margin         : auto;
                        display        : flex;
                        justify-content: center;
                        align-items    : center;

                        &:hover {
                            color : #dd1e27 !important;
                            border: 1px solid #dd1e27;
                        }
                    }
                }
            }
        }
    }

    .left-block {
        h3.tilte {
            color      : #064b77;
            font-size  : 17px;
            font-weight: 600;
        }

        form {
            textarea {
                border       : 2px solid $primary-color;
                height       : 50px;
                line-height  : 45px;
                padding      : 0 10px;
                width        : 80%;
                margin       : 20px auto;
                resize       : none;
                border-radius: 30px;
                display      : block;
                overflow-y: hidden;

                &:focus {
                    outline: none;
                }
            }

            .btn-send {
                width           : 80%;
                height          : 50px;
                line-height     : 50px;
                font-weight     : 600;
                background-image: -moz-radial-gradient(50% 50%, circle closest-side, rgb(8, 102, 162) 0%, rgb(6, 75, 119) 30%);
                background-image: -webkit-radial-gradient(50% 50%, circle closest-side, rgb(8, 102, 162) 0%, rgb(6, 75, 119) 30%);
                background-image: -ms-radial-gradient(50% 50%, circle closest-side, rgb(8, 102, 162) 0%, rgb(6, 75, 119) 30%);
                color           : $secondary-color;
                border          : 2px solid $primary-color;
                border-radius   : 30px;
                @extend %ease;
                display: block;
                margin : auto;

                &:hover {
                    background: $secondary-color;
                    color     : $primary-color;

                }

                &:focus {
                    outline: none;
                }
            }
        }
    }

    .copy-right {
        background: $primary-color;
        padding   : 20px 0;
        margin-top: 40px;

        .container {
            display        : flex;
            justify-content: space-between;
        }

        p {
            margin     : 0;
            color      : $secondary-color;
            font-weight: 600;
            transition : all 0.4s ease-in;

            a {
                color: #fff;
                @extend %ease;

                &:hover {
                    color: #dd1e27;
                }
            }
        }
    }

}

.slick-dotted.slick-slider {
    margin-bottom : 0 !important;
    padding-bottom: 30px !important;
}

// responsive
// homepage
@media (max-width: 1024px) {
    .page-content {
        .recently-added {
            .slider {
                .slick-dots {
                    bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .top-header {
        margin : 0;
        padding: 20px 0 0;

        .right-side {
            display: none;
        }

        .left-side {
            display : block;
            position: relative;

            .accordion {
                display        : flex;
                justify-content: space-between;
            }

            .btn-link {
                width: 120px;
            }
        }
    }

    .navbar-collapse {
        -webkit-box-shadow    : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
        box-shadow            : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
        -webkit-transition    : all .4s ease-in-out;
        -moz-transition       : all .4s ease-in-out;
        -o-transition         : all .4s ease-in-out;
        transition            : all .4s ease-in-out;
        transform-origin      : right;
        position              : fixed;
        right                  : -100%;
        top                   : 0;
        background-color      : $secondary-color;
        width                 : 80%;
        height                : 100%;
        z-index               : 9;
        padding               : 20px 15px;
        -webkit-animation-name: slideInLeft;
        animation-name        : slideInLeft;

        &.show {
            right: 0;
        }
    }

    .navbar-brand {
        display: block !important;
        margin : 0;
        padding: 0;

        img {
            width: 150px;
        }
    }

    .navbar-expand-lg {
        background-color: rgba(227, 227, 227, 0.32) !important;
        padding         : 15px;

        &.fixed-top {
            -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            box-shadow        : 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
            background-color  : $secondary-color !important;
        }

        .navbar-collapse {
            margin: 0;
        }

        .navbar-nav {
            width     : 80%;
            margin    : auto;
            text-align: center;
            margin-top: 40px;

            .nav-link {
                font-size     : 15px;
                padding       : 10px;
                margin-bottom : 10px;
                letter-spacing: unset;
                font-weight   : 500;

                &:hover,
                &:focus {
                    color: #dd1e27;
                }
            }

            .nav-item {
                margin-left: 0 !important;
                margin-right : unset !important;

                &.active {
                    color: #dd1e27;
                }

                &:after {
                    display: none;
                }
            }
        }

        .active>.nav-link,
        .nav-link.active,
        .nav-link.show,
        .show>.nav-link {
            color: #dd1e27 !important;
        }
    }

    // 
    .slick-prev,
    .slick-next {
        display: none !important;
    }

    // news block
    .page-content {
        .news-block {
            .content {
                display: inline-block;

                .new-right {
                    width : auto;
                    height: auto;
                }

                .new-left {
                    width     : auto;
                    text-align: center;
                    margin-top: 10px;
                    padding   : 0;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .forget-pas {
        font-size: 13px;
    }

    .page-content {
        h3.tilte {
            font-size: 18px;

            .title-icon {
                img {
                    width: 30px;
                }
            }
        }

        .about-block {
            .about-slider {
                height: auto;

                .item {
                    height: 280px;
                }
            }

            .form-rate,
            .form-contact {
                min-height: unset;
                margin-top: 20px;
                padding   : 20px;

                .check-block {
                    h3.tilte {
                        font-size: 16px;
                    }

                    .check-title {
                        font-size    : 15px;
                        margin-bottom: 10px;
                    }

                    .check-input {
                        .check-one label {
                            font-size: 13px;
                        }
                    }
                }

                .form-inpt,
                textarea {
                    height     : 42px !important;
                    line-height: 42px !important;
                    font-size  : 13px;
                }
            }

            .select2-container--default .select2-selection--single {
                height     : 42px !important;
                line-height: 42px !important;

                .select2-selection__rendered {
                    font-size  : 13px;
                    line-height: 42px !important;
                }

                .select2-selection__arrow:after {
                    width : 13px !important;
                    height: 13px !important;
                }

            }

            button.btn,
            button.btn-send {
                height     : 42px !important;
                line-height: 42px !important;
                font-size  : 14px;
                margin-top : 0;
            }

        }

        // news block
        .news-block {
            .new-details {
                .report-new {
                    width: 100%;

                    .reoprt-title {
                        font-size    : 17px;
                        margin-bottom: 15px;
                    }

                    .new-title {
                        font-size    : 15px;
                        margin-bottom: 10px;
                    }

                    .new-description {
                        font-size  : 13px;
                        line-height: 24px;
                    }

                    .owner-new {
                        .owner-avater {
                            width : 40px;
                            height: 40px;
                        }

                        .owner-info {
                            .owner-name {
                                font-size: 14px;
                            }

                            .show-date {
                                font-size: 14px
                            }
                        }
                    }
                }
            }

            .new-details {
                .new-img {
                    margin-top: 20px;
                }
            }

            .all-new {
                padding: 0 5px;
            }

            .content {
                .new-right {
                    width : 100px;
                    height: 80px;
                    margin: auto;
                    border: 1px solid $primary-color;
                }
            }
        }

        // recently added
        .recently-added {
            .slider .item {
                .content {
                    border: 1px solid $primary-color;
                }
            }
        }
    }

    .select2-results__option {
        font-size: 13px;
    }

    // footer
    .footer {
        .right-block {
            h3.tilte {
                font-size: 16px;
            }

            .right-block {
                justify-content: space-between;
            }
        }

        .center-block {
            margin    : 40px auto;
            text-align: center;

            .description p {
                font-size: 14px;
            }
        }

        .left-block {
            h3.tilte {
                font-size : 16px;
                text-align: center;
            }

            form .btn-send,
            textarea {
                height     : 42px !important;
                line-height: 42px !important;
                font-size  : 14px;
            }
        }

        .copy-right {
            .container {
                display: block;
            }

            p {
                font-size    : 14px;
                font-weight  : 500;
                text-align   : center;
                margin-bottom: 10px;
            }
        }
    }

    // login page
    .page-content {
        .login-block {
            .right-img {
                position  : unset;
                text-align: center;
                margin-top: 40px;
                width: 100%;

                img {
                    position : unset;
                    transform: unset;
                }

            }

            .form-login {
                padding: 20px;

                .input-block {
                    .form-inpt {
                        height     : 42px;
                        line-height: 42px;
                        font-size  : 13px;
                    }
                }

                .btn {
                    height     : 42px !important;
                    line-height: 42px !important;
                    font-size  : 14px;
                }
            }
        }
    }

    // register
    .first-row {
        display: unset !important;

        .input-block {
            &:first-child {
                padding-right: 0px !important;
            }

            &:last-child {
                padding-left: 0px !important;
            }

            .form-inpt {
                width: unset;
            }
        }
    }

    // contact
    .page-content {
        .map-block {
            .Complaints {
                position: relative;
                padding : 40px;

                .title {
                    font-size    : 18px;
                    margin-bottom: 20px;
                }

                ul {
                    li {
                        margin-bottom: 10px;
                        font-size    : 14px;
                        line-height  : 24px;

                        span.icon {
                            width      : 25px;
                            height     : 25px;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }
    }

    // categories
    .page-content {
        .all-categories {
            .brand-info {
                margin-bottom: 20px;

                .brand-card {
                    margin-bottom: 20px;
                }

                .brand-title {
                    color        : #064b77;
                    margin-bottom: 10px;
                    font-size    : 18px;
                    text-align   : center;
                }

                .brand-description {
                    font-size  : 13px;
                    line-height: 22px;
                    text-align : center;
                }
            }

            .tabs-block {
                .categories-pills {
                    li.nav-item {
                        width: 49%;
                        margin: 0 auto 10px;

                        .nav-link {
                            font-size: 14px
                        }
                    }
                }
                .available-pills li.nav-item{
                    width: 30%;
                }

                .categories-cards {
                    margin: 0;
                }
            }

            // recent offers
            .recent-offers {
                .offer-img {
                    border-radius: 20px;
                    overflow     : hidden;
                }

                .offer-detail {
                    h3.tilte {
                        margin-top   : 20px;
                        margin-bottom: 10px;
                    }

                    p {
                        font-size    : 13px;
                        line-height  : 24px;
                        margin-bottom: 10px;
                        text-align   : center;
                    }
                }
            }

            .more .more-link {
                margin     : 0 auto;
                font-size  : 14px;
                font-weight: 500;
            }
        }

    }

    // installment, ads
    .page-content {
        .installment-block {
             h3.tilte {
                text-align: center;
            }   
            .brand-slider {
                .product{
                    width: 100%;
                    float: unset;
                    margin-bottom: 20px;
                    .new-img{
                        height: 260px;
                    }
                }
                .product-list{
                    display: block;
                    float: unset;
                    width: 100%;
                    margin-bottom: 40px;
                    .all-new{
                        width: 30% !important;
                        height: 90px;
                        margin-right: 4%;
                        &:last-child{
                            margin: 0;
                        }
                    }
                }
            }
            .brand-info{
                .title {
                    margin-bottom: 10px;
                    font-size: 18px;
                    text-align: center;
                }
                 ul li {
                    width: 50%;
                    padding-right: 13px;
                    font-size: 13px;
                }
            }
            // ads
        .ads-block {
            .social-media {
                margin: 40px auto 20px;
                display: flex;
                justify-content: center;
                li{
                    margin: 0 10px;
                }
            }

            .ads-area {
                float        : unset;
                margin: auto;
                text-align: center;
                width: 80%;
            }
        } 
        }

        // about page
        .about-page {
            .about-content {
                margin-bottom: 20px;

                .about-title {
                    margin-bottom: 10px;
                    text-align   : center;
                    font-size    : 18px;
                }

                .about-description {
                    font-size  : 15px;
                    line-height: 24px;
                    text-align : center;
                }
            }

            .about-img {
                position: unset;
                width: 100%;
                img {
                    position : unset;
                    transform: unset;
                }

            }
        }
        .brands-block {
            .all-brands {
                .single-brand{
                    width: 33%;
                }
            }
        }
        
    }

    
}

@media (max-width: 500px) {
    .page-content {
        .news-block {
            .content {
                padding: 5px;
                border : 1px solid $primary-color;

                .new-left {

                    .new-title,
                    .new-description {
                        font-size  : 12px;
                        line-height: 19px;
                    }
                }
            }
        }
        // installment
        .installment-block {
            .brand-slider {
                .product-list{
                    .all-new{
                        height: 80px;
                    }
                }
                .top-overlay .social-content{
                    left: -8px;
                    .links{
                        margin-left: 10px;
                    }
                    &:before{
                        width: 100%;
                    }
                }
                .slick-prev, .slick-next{
                    width: 25px;
                    height: 25px;
                }

                .slick-prev:before, .slick-next:before{
                    width: 6px;
                    height: 12px;
                }
            }
        }
    }

    .footer {
        .right-block {
            h3.tilte {
                font-size: 14px;
            }

            .right-block {
                ul li a {
                    font-size: 13px;
                }
            }
        }

        .center-block {
            .top-logo {
                img {
                    width: 280px;
                }
            }

            .description p {
                font-size: 13px;
            }
        }

        .left-block {
            h3.tilte {
                font-size: 14px;
            }
        }

        .copy-right p {
            font-size  : 13px;
            font-weight: 500;
        }
    }

    
    // brands
    .brands-block {
        .all-brands {
            .single-brand{
                width: 33%;
            }
        }
    }
}