@font-face {
  font-family: 'regular';
  src: url("../fonts/Cairo-Regular.ttf"); }
@font-face {
  font-family: 'semi-bold';
  src: url("../fonts/Cairo-SemiBold.ttf"); }
@font-face {
  font-family: 'bold';
  src: url("../fonts/Cairo-Bold.ttf"); }
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a,
button, .page-content .about-block .form-rate .check-block .check-input .check-one input[type=checkbox],
.page-content .about-block .form-rate .check-block .check-input .check-one input[type=radio], .page-content .login-block .form-login .forget-pas a, .page-content .login-block .form-login .btn, .page-content .all-categories .tabs-block .categories-pills li.nav-item .nav-link, .page-content .all-categories .tabs-block .categories-cards .brand-card:after, .page-content .all-categories .tabs-block .categories-cards .brand-title h4, .page-content .all-categories .more .more-link, .page-content .installment-block .brand-slider .top-overlay .social-content .links a, .page-content .more-brands .brand-card:after, .page-content .more-brands .brand-title h4, .page-content .more-brands .more .more-link, .footer .left-block form .btn-send, .footer .copy-right p a {
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.page-content .about-block .about-slider, .page-content .map-block, .page-content .brands-block, .page-content .all-categories .brand-info .brand-card, .page-content .installment-block .brand-slider .product {
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06); }

a,
button {
  text-decoration: none !important;
  outline: none !important; }
  a:focus,
  button:focus {
    outline: none !important; }

.btn-link:hover {
  color: #fff !important; }

#preloader-first {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
  z-index: 99999; }

.loader-first {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  text-align: center; }

.dot-first {
  width: 10px;
  height: 10px;
  background: #064b77;
  border-radius: 100%;
  display: inline-block;
  animation: slide-first 1s infinite; }

.dot-first:nth-child(1) {
  animation-delay: 0.1s;
  background: #064b77; }

.dot-first:nth-child(2) {
  animation-delay: 0.2s;
  background: #064b77; }

.dot-first:nth-child(3) {
  animation-delay: 0.3s;
  background: #064b77; }

.dot-first:nth-child(4) {
  animation-delay: 0.4s;
  background: #064b77; }

.dot-first:nth-child(5) {
  animation-delay: 0.5s;
  background: #064b77; }

@-moz-keyframes slide-first {
  0% {
    transform: scale(1); }
  50% {
    opacity: 0.3;
    transform: scale(2); }
  100% {
    transform: scale(1); } }
@-webkit-keyframes slide-first {
  0% {
    transform: scale(1); }
  50% {
    opacity: 0.3;
    transform: scale(2); }
  100% {
    transform: scale(1); } }
@-o-keyframes slide-first {
  0% {
    transform: scale(1); }
  50% {
    opacity: 0.3;
    transform: scale(2); }
  100% {
    transform: scale(1); } }
@keyframes slide-first {
  0% {
    transform: scale(1); }
  50% {
    opacity: 0.3;
    transform: scale(2); }
  100% {
    transform: scale(1); } }
body {
  font-family: regular;
  color: #a2a2a2;
  font-size: 16px;
  line-height: 28px;
  overflow-x: hidden;
  direction: ltr;
  text-align: left; }

h1,
h2,
h3 {
  font-family: bold; }

.list-inline,
.list-unstyled,
p {
  margin: 0px;
  padding: 0px; }

a:hover,
a:focus {
  text-decoration: none !important;
  color: #fff; }

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: none;
  outline: 0;
  background: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important; }

input,
.form-control,
input:focus,
.form-control:focus {
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  outline: none; }

::-webkit-input-placeholder {
  color: #c3c3c3; }

::-moz-placeholder {
  color: #c3c3c3; }

:-ms-input-placeholder {
  color: pink; }

:-moz-placeholder {
  color: #c3c3c3; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5; }

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
  border-radius: 8px; }

::-webkit-scrollbar-thumb {
  background-color: #064b77;
  border-radius: 8px; }

.visible {
  display: block !important; }

.hidden {
  display: none; }

.top-header {
  padding: 20px 0;
  margin-bottom: 20px; }
  .top-header .right-side img {
    width: 250px; }
  .top-header .left-side {
    text-align: right;
    position: absolute;
    right: 0;
    z-index: 9; }
    .top-header .left-side .btn-link {
      background-image: -moz-linear-gradient(-90deg, #0868a6 0%, #064b77 100%);
      background-image: -webkit-linear-gradient(-90deg, #0868a6 0%, #064b77 100%);
      background-image: -ms-linear-gradient(-90deg, #0868a6 0%, #064b77 100%);
      background-repeat: no-repeat;
      color: #fff;
      border-radius: 30px;
      text-align: left;
      width: 140px;
      margin-bottom: 10px;
      padding: 8px 15px;
      font-size: 15px; }
      .top-header .left-side .btn-link.center {
        text-align: center; }
      .top-header .left-side .btn-link img {
        width: 20px;
        margin-right: 8px; }
      .top-header .left-side .btn-link .user-icon {
        width: 15px; }
      .top-header .left-side .btn-link .down {
        display: inline-block !important;
        position: absolute;
        right: 15px; }
        .top-header .left-side .btn-link .down .svg-inline--fa {
          font-size: 13px; }
      .top-header .left-side .btn-link .hidden.up {
        display: none; }

.bg-light {
  background-color: #e6e6e6 !important;
  padding: 0; }

.navbar-light .navbar-nav .nav-link {
  color: #064b77;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 16px 40px;
  position: relative;
  z-index: 2; }
  .navbar-light .navbar-nav .nav-link:hover,
  .navbar-light .navbar-nav .nav-link :focus {
    color: #064b77; }
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #fff; }
.navbar-light .navbar-nav .nav-item {
  position: relative;
  z-index: 2; }
.navbar-light .navbar-nav .nav-item.active {
  color: #fff; }
.navbar-light .navbar-nav .nav-item:after {
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  right: 0;
  right: 0;
  z-index: 1; }
.navbar-light .navbar-nav .nav-item.active:after {
  background-image: url(../images/navitem-bg.png); }
.navbar-light .navbar-toggler {
  position: relative;
  width: 40px;
  height: 40px;
  border: 0; }
.navbar-light .menu-wrapper {
  height: 19px;
  cursor: pointer;
  margin-bottom: 14px; }
.navbar-light .hamburger-menu,
.navbar-light .hamburger-menu:after,
.navbar-light .hamburger-menu:before {
  width: 30px;
  height: 3px; }
.navbar-light .hamburger-menu {
  position: relative;
  transform: translateY(8px);
  background: #064b77;
  transition: all 0ms 300ms;
  display: block;
  margin-bottom: 15px;
  z-index: 99; }
  .navbar-light .hamburger-menu.animate {
    background: transparent; }
.navbar-light .hamburger-menu:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 8px;
  background: #064b77;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
.navbar-light .hamburger-menu:after {
  content: "";
  position: absolute;
  right: 0;
  top: 8px;
  background: #064b77;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1); }
.navbar-light .hamburger-menu.animate:after {
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }
.navbar-light .hamburger-menu.animate:before {
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1); }

.navbar-expand-lg .navbar-brand {
  display: none; }

@media (min-width: 992px) {
  .main-menu .navbar-expand-lg .navbar-nav {
    width: 100%;
    justify-content: center;
    padding: 0; } }
.page-content h3.tilte {
  color: #064b77;
  margin-bottom: 20px;
  text-align: center;
  font-size: 22px; }
.page-content .about-block {
  padding: 40px 0; }
  .page-content .about-block .about-slider {
    border-radius: 20px;
    overflow: hidden;
    height: 400px; }
    .page-content .about-block .about-slider .item {
      background-color: white;
      padding: 40px;
      display: flex;
      justify-content: center;
      align-items: center; }
    .page-content .about-block .about-slider .slick-dots {
      bottom: 25px; }
      .page-content .about-block .about-slider .slick-dots li {
        width: unset; }
        .page-content .about-block .about-slider .slick-dots li button {
          width: 13px;
          height: 13px;
          background: #064b77;
          border-radius: 50%;
          border: 2px solid #064b77; }
          .page-content .about-block .about-slider .slick-dots li button:before {
            display: none; }
      .page-content .about-block .about-slider .slick-dots .slick-active button {
        background: #fff; }
    .page-content .about-block .about-slider .slick-prev,
    .page-content .about-block .about-slider .slick-next {
      z-index: 9; }
    .page-content .about-block .about-slider .slick-prev {
      right: 0;
      left: unset; }
    .page-content .about-block .about-slider .slick-next {
      left: 0; }
    .page-content .about-block .about-slider .slick-prev:before,
    .page-content .about-block .about-slider .slick-next:before {
      color: #064b77;
      content: "";
      background-image: url(../images/icon/arrow-prev.png);
      background-repeat: no-repeat;
      width: 10px;
      height: 17px;
      background-size: 100% 100%;
      position: absolute;
      right: 10px;
      top: 0;
      opacity: 1;
      transition: all 0.4s ease-in; }
      .page-content .about-block .about-slider .slick-prev:before:hover,
      .page-content .about-block .about-slider .slick-next:before:hover {
        opacity: 0.75; }
    .page-content .about-block .about-slider .slick-next:before {
      background-image: url(../images/icon/arrow-next.png);
      left: 10px; }
  .page-content .about-block .form-rate {
    border-radius: 20px;
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    padding: 40px;
    text-align: center;
    min-height: 400px; }
    .page-content .about-block .form-rate .choices {
      margin-bottom: 20px; }
    .page-content .about-block .form-rate .select2-container {
      width: 100% !important;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
      border-radius: 20px;
      overflow: hidden; }
    .page-content .about-block .form-rate .select2-container--default .select2-selection--single {
      height: 45px;
      line-height: 45px;
      border-radius: 10px;
      border: 1px solid transparent; }
    .page-content .about-block .form-rate .select2-container--default .select2-selection--single .select2-selection__rendered {
      line-height: 45px;
      color: #c3c3c3;
      padding: 0 16px; }
    .page-content .about-block .form-rate .select2-container--default .select2-selection--single .select2-selection__rendered:focus,
    .page-content .about-block .form-rate .select2-container--default .select2-selection--single {
      outline: none !important; }
    .page-content .about-block .form-rate .select2-container--default .select2-selection--single .select2-selection__arrow {
      position: absolute;
      top: 18px;
      right: 20px; }
      .page-content .about-block .form-rate .select2-container--default .select2-selection--single .select2-selection__arrow b {
        border: none; }
      .page-content .about-block .form-rate .select2-container--default .select2-selection--single .select2-selection__arrow:after {
        position: absolute;
        content: "";
        background-image: url(../images/icon/arrow-down.png);
        background-repeat: no-repeat;
        width: 15px;
        height: 15px;
        background-size: 100%; }
    .page-content .about-block .form-rate button {
      background: #dd1e27;
      color: #fff;
      height: 45px;
      line-height: 45px;
      width: 50%;
      border-radius: 33px;
      padding: 0;
      margin-top: 20px;
      font-weight: 600; }
      .page-content .about-block .form-rate button:hover {
        background: #064b77; }
    .page-content .about-block .form-rate .tab {
      display: none; }
    .page-content .about-block .form-rate .check-block {
      margin-bottom: 20px; }
      .page-content .about-block .form-rate .check-block .title {
        font-size: 18px; }
      .page-content .about-block .form-rate .check-block .check-title {
        font-size: 18px;
        margin-bottom: 20px;
        color: #7a7a7a; }
      .page-content .about-block .form-rate .check-block .check-input {
        display: flex;
        justify-content: space-between; }
        .page-content .about-block .form-rate .check-block .check-input .check-one {
          width: 30%;
          background: #fff;
          border-radius: 20px;
          height: 40px;
          line-height: 40px;
          position: relative; }
          .page-content .about-block .form-rate .check-block .check-input .check-one input[type=checkbox],
          .page-content .about-block .form-rate .check-block .check-input .check-one input[type=radio] {
            height: 100%;
            width: 100%;
            right: 0;
            left: 0;
            opacity: 0;
            z-index: 2; }
          .page-content .about-block .form-rate .check-block .check-input .check-one label {
            position: absolute;
            z-index: 3;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            overflow: hidden;
            border-radius: 20px;
            cursor: pointer;
            color: #064b77; }
          .page-content .about-block .form-rate .check-block .check-input .check-one input[type=radio]:checked + label {
            background-color: #064b77;
            color: #fff; }
    .page-content .about-block .form-rate .form-inpt {
      height: 45px;
      line-height: 45px;
      border: 1px solid transparent;
      color: #c3c3c3;
      padding: 0 16px;
      width: 100%;
      margin: 0 auto 20px;
      box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
      border-radius: 20px;
      position: relative;
      display: block; }
.page-content .news-block {
  padding: 40px 0; }
  .page-content .news-block .new-details {
    margin: 20px 0 40px; }
    .page-content .news-block .new-details .report-new {
      width: 80%; }
      .page-content .news-block .new-details .report-new .reoprt-title {
        color: #7b7b7b;
        font-size: 20px;
        margin-bottom: 20px; }
      .page-content .news-block .new-details .report-new .new-title {
        color: #aeaeae;
        font-size: 18px;
        margin-bottom: 20px; }
      .page-content .news-block .new-details .report-new .new-description {
        color: #aeaeae;
        font-size: 17px;
        line-height: 28px;
        position: relative; }
        .page-content .news-block .new-details .report-new .new-description:after {
          position: absolute;
          content: "";
          border: 2px solid #e2e2e2;
          left: 0;
          right: 0;
          bottom: -20px;
          width: 75%;
          margin: auto; }
      .page-content .news-block .new-details .report-new .owner-new {
        margin-top: 40px;
        display: flex;
        align-items: center;
        padding: 0 10px; }
        .page-content .news-block .new-details .report-new .owner-new .owner-avater {
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.06); }
          .page-content .news-block .new-details .report-new .owner-new .owner-avater img {
            height: 100%; }
        .page-content .news-block .new-details .report-new .owner-new .owner-info {
          margin-left: 20px; }
          .page-content .news-block .new-details .report-new .owner-new .owner-info .owner-name {
            font-weight: 600;
            color: #888; }
          .page-content .news-block .new-details .report-new .owner-new .owner-info .show-date {
            color: #aeaeae; }
    .page-content .news-block .new-details .new-img {
      border-radius: 20px;
      overflow: hidden; }
  .page-content .news-block .all-new {
    padding: 0 20px; }
  .page-content .news-block .content {
    display: flex;
    border: 2px solid #064b77;
    border-radius: 20px;
    padding: 10px; }
    .page-content .news-block .content .new-right {
      border-radius: 20px;
      overflow: hidden;
      width: 120px;
      height: 105px;
      border: 2px solid #064b77; }
      .page-content .news-block .content .new-right img {
        width: 100%;
        height: 100%; }
    .page-content .news-block .content .new-left {
      width: calc(100% - 120px);
      padding-left: 15px; }
      .page-content .news-block .content .new-left .new-title {
        color: #aeaeae;
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 5px;
        font-weight: 600; }
      .page-content .news-block .content .new-left .new-description {
        height: 60px;
        overflow: hidden;
        color: #aeaeae;
        font-size: 13px;
        line-height: 20px; }
.page-content .recently-added {
  padding: 40px 0;
  background: #f8f8f8; }
  .page-content .recently-added .slider {
    margin: 20px 0; }
    .page-content .recently-added .slider .item {
      padding: 0 20px; }
      .page-content .recently-added .slider .item .content {
        border-radius: 20px;
        overflow: hidden;
        border: 2px solid #064b77; }
        .page-content .recently-added .slider .item .content img {
          width: 100%;
          height: 100%; }
    .page-content .recently-added .slider .slick-dots {
      bottom: 20px; }
      .page-content .recently-added .slider .slick-dots li {
        width: unset; }
        .page-content .recently-added .slider .slick-dots li button {
          width: 13px;
          height: 13px;
          background: #064b77;
          border-radius: 50%;
          border: 2px solid #064b77; }
          .page-content .recently-added .slider .slick-dots li button:before {
            display: none; }
      .page-content .recently-added .slider .slick-dots .slick-active button {
        background: #fff; }
    .page-content .recently-added .slider .slick-prev,
    .page-content .recently-added .slider .slick-next {
      z-index: 9; }
    .page-content .recently-added .slider .slick-prev:before,
    .page-content .recently-added .slider .slick-next:before {
      color: #064b77;
      content: "";
      background-image: url(../images/icon/arrow-next.png);
      background-repeat: no-repeat;
      width: 10px;
      height: 17px;
      background-size: 100% 100%;
      position: absolute;
      right: 10px;
      top: 0;
      opacity: 1;
      transition: all 0.4s ease-in; }
      .page-content .recently-added .slider .slick-prev:before:hover,
      .page-content .recently-added .slider .slick-next:before:hover {
        opacity: 0.75; }
    .page-content .recently-added .slider .slick-next:before {
      background-image: url(../images/icon/arrow-prev.png);
      right: 10px;
      left: unset; }
.page-content .login-block {
  padding: 40px 0;
  position: relative;
  min-height: 650px; }
  .page-content .login-block .form-login {
    border-radius: 20px;
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    padding: 40px;
    text-align: center; }
    .page-content .login-block .form-login .input-block {
      position: relative; }
      .page-content .login-block .form-login .input-block .form-inpt {
        height: 45px;
        line-height: 45px;
        border: 1px solid transparent;
        color: #c3c3c3;
        padding: 0 16px;
        width: 100%;
        margin: 0 auto 20px;
        box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
        border-radius: 20px;
        position: relative;
        display: block; }
      .page-content .login-block .form-login .input-block .img-eyes1 {
        position: absolute;
        top: 50%;
        cursor: pointer;
        transform: translateY(-50%);
        right: 10px; }
    .page-content .login-block .form-login .forget-pas a {
      color: #dd1e27;
      font-size: 14px; }
      .page-content .login-block .form-login .forget-pas a:hover {
        color: #064b77; }
    .page-content .login-block .form-login .btn {
      background: #dd1e27;
      color: #fff;
      height: 45px;
      line-height: 45px;
      width: 50%;
      border-radius: 33px;
      padding: 0;
      margin-top: 20px;
      font-weight: 600; }
      .page-content .login-block .form-login .btn:hover {
        background: #064b77; }
  .page-content .login-block .right-img {
    position: absolute;
    right: 0;
    top: 30px;
    bottom: 0;
    width: 50%;
    transform: scaleX(-1); }
    .page-content .login-block .right-img img {
      width: 100%;
      height: auto;
      max-height: 100%; }
.page-content .first-row {
  display: flex;
  justify-content: space-between; }
  .page-content .first-row .input-block:first-child {
    padding-right: 10px; }
  .page-content .first-row .input-block:last-child {
    padding-left: 10px; }
  .page-content .first-row .input-block .form-inpt {
    width: unset; }
.page-content .form-contact {
  border-radius: 20px;
  background-image: -moz-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-side, #f9f9f9 0%, #d6d6d6 100%);
  -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
  padding: 40px;
  text-align: center;
  min-height: 400px; }
  .page-content .form-contact .form-inpt,
  .page-content .form-contact textarea {
    height: 45px;
    line-height: 45px;
    border: 1px solid transparent;
    color: #c3c3c3;
    padding: 0 16px;
    width: 100%;
    margin: 0 auto 20px;
    box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px;
    position: relative;
    display: block;
    overflow: hidden;
    resize: none; }
    .page-content .form-contact .form-inpt:focus,
    .page-content .form-contact textarea:focus {
      outline: none; }
  .page-content .form-contact button {
    background: #dd1e27;
    color: #fff;
    height: 45px;
    line-height: 45px;
    width: 50%;
    border-radius: 33px;
    padding: 0;
    margin-top: 20px;
    font-weight: 600;
    border: 1px solid transparent; }
    .page-content .form-contact button:hover {
      background: #064b77; }
.page-content .map-block {
  margin: 40px 0;
  position: relative;
  min-height: 400px; }
  .page-content .map-block #map {
    height: 400px;
    position: relative; }
    .page-content .map-block #map .gm-style .gm-style-iw-d {
      overflow: hidden !important; }
    .page-content .map-block #map .info_content {
      min-width: 280px;
      height: 60px; }
      .page-content .map-block #map .info_content h3 {
        color: #064b77;
        text-align: center;
        font-size: 14px;
        margin-bottom: 10px; }
      .page-content .map-block #map .info_content h4 {
        color: #064b77;
        text-align: center;
        font-size: 14px;
        margin: 0;
        font-family: "regular"; }
  .page-content .map-block .Complaints {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 80px 40px; }
    .page-content .map-block .Complaints .title {
      color: #064b77;
      font-size: 22px;
      margin-bottom: 20px; }
      .page-content .map-block .Complaints .title .icon {
        margin-right: 15px; }
        .page-content .map-block .Complaints .title .icon img {
          width: 40px; }
    .page-content .map-block .Complaints ul li {
      display: flex;
      color: #686868;
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 32px; }
      .page-content .map-block .Complaints ul li:last-child {
        margin: 0; }
      .page-content .map-block .Complaints ul li span.icon {
        width: 25px;
        margin-right: 10px; }
        .page-content .map-block .Complaints ul li span.icon img {
          width: 100%; }
.page-content .brands-block {
  border-radius: 20px;
  height: 400px;
  padding: 40px 30px;
  position: relative;
  background-image: url(../images/bg/brand-bg.png);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-y: auto; }
  .page-content .brands-block:after {
    content: '';
    position: absolute;
    left: 50%;
    top: -20px;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid #ffffff;
    clear: both; }
  .page-content .brands-block .all-brands {
    width: 100%; }
    .page-content .brands-block .all-brands .single-brand {
      width: 20%;
      float: right;
      padding: 0 10px;
      margin-bottom: 20px; }
      .page-content .brands-block .all-brands .single-brand img {
        width: 100%; }
.page-content .all-categories {
  padding: 60px 0 40px; }
  .page-content .all-categories .brand-info {
    margin-bottom: 40px; }
    .page-content .all-categories .brand-info .brand-card {
      padding: 20px;
      background-color: #fff;
      border-radius: 10px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .page-content .all-categories .brand-info .brand-title {
      color: #064b77;
      margin-bottom: 20px;
      font-size: 22px; }
    .page-content .all-categories .brand-info .brand-description {
      color: #aeaeae;
      font-size: 17px;
      line-height: 28px;
      position: relative; }
  .page-content .all-categories .tabs-block {
    padding: 20px 0; }
    .page-content .all-categories .tabs-block .categories-pills {
      display: flex;
      justify-content: space-between; }
      .page-content .all-categories .tabs-block .categories-pills li.nav-item {
        width: 23%;
        border-radius: 20px;
        overflow: hidden; }
        .page-content .all-categories .tabs-block .categories-pills li.nav-item .nav-link {
          text-align: center;
          border-radius: 20px;
          font-family: 'bold';
          border: 2px solid #eaa50f;
          color: #eaa50f; }
          .page-content .all-categories .tabs-block .categories-pills li.nav-item .nav-link:hover {
            background-image: -moz-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
            background-image: -webkit-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
            background-image: -ms-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
            background-color: transparent;
            border: 2px solid #eaa50f;
            color: #fff !important; }
      .page-content .all-categories .tabs-block .categories-pills .nav-link.active,
      .page-content .all-categories .tabs-block .categories-pills .show > .nav-link {
        background-image: -moz-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
        background-image: -webkit-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
        background-image: -ms-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
        background-color: transparent;
        border: 2px solid #eaa50f;
        color: #fff !important; }
    .page-content .all-categories .tabs-block .categories-cards {
      margin-top: 20px; }
      .page-content .all-categories .tabs-block .categories-cards .brand-card {
        padding: 20px;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
        background-color: #fff;
        border-radius: 10px;
        height: 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: relative;
        overflow: hidden; }
        .page-content .all-categories .tabs-block .categories-cards .brand-card:after {
          content: "";
          position: absolute;
          top: 0;
          right: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 64, 133, 0.3);
          opacity: 0; }
        .page-content .all-categories .tabs-block .categories-cards .brand-card img {
          width: 100%; }
      .page-content .all-categories .tabs-block .categories-cards .brand-title {
        margin-top: 20px; }
        .page-content .all-categories .tabs-block .categories-cards .brand-title h4 {
          color: #064b77;
          font-size: 16px;
          font-weight: 600;
          text-align: center; }
      .page-content .all-categories .tabs-block .categories-cards a {
        margin: 20px 0;
        display: block; }
        .page-content .all-categories .tabs-block .categories-cards a:hover .brand-card:after {
          opacity: 1; }
        .page-content .all-categories .tabs-block .categories-cards a:hover h4 {
          color: #dd1e27; }
    .page-content .all-categories .tabs-block .available-pills,
    .page-content .all-categories .tabs-block .product-pills {
      display: flex;
      justify-content: center; }
      .page-content .all-categories .tabs-block .available-pills li.nav-item,
      .page-content .all-categories .tabs-block .product-pills li.nav-item {
        width: 200px;
        margin-right: 40px;
        box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
        overflow: hidden; }
  .page-content .all-categories .recent-offers {
    padding: 40px 0 0; }
    .page-content .all-categories .recent-offers .offer-img {
      border-radius: 20px;
      overflow: hidden; }
    .page-content .all-categories .recent-offers .offer-detail h3.tilte {
      text-align: left; }
    .page-content .all-categories .recent-offers .offer-detail p {
      margin-bottom: 20px; }
  .page-content .all-categories .more .more-link {
    background: #dd1e27;
    color: #fff;
    height: 45px;
    line-height: 45px;
    width: 200px;
    border-radius: 33px;
    padding: 0;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    text-align: center; }
    .page-content .all-categories .more .more-link:hover {
      background: #064b77; }
.page-content .installment-block {
  padding: 60px 0 40px; }
  .page-content .installment-block h3.tilte {
    text-align: left; }
  .page-content .installment-block .brand-slider {
    clear: both; }
    .page-content .installment-block .brand-slider .product {
      width: 75%;
      margin-right: 20px;
      float: left;
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 40px; }
      .page-content .installment-block .brand-slider .product .new-img {
        height: 360px; }
        .page-content .installment-block .brand-slider .product .new-img img {
          height: 100%;
          width: 100%; }
    .page-content .installment-block .brand-slider .top-overlay {
      position: relative; }
      .page-content .installment-block .brand-slider .top-overlay .social-content {
        position: absolute;
        top: -5px;
        left: -12px;
        width: 100%; }
        .page-content .installment-block .brand-slider .top-overlay .social-content:before {
          content: "";
          position: absolute;
          width: 420px;
          height: 50px;
          background-image: url(../images/bg/social-bg.png);
          background-repeat: no-repeat;
          background-size: 40% 100%;
          background-position: right;
          z-index: 8;
          transform: scaleX(-1); }
        .page-content .installment-block .brand-slider .top-overlay .social-content .links {
          position: relative;
          z-index: 9;
          margin-left: 40px; }
          .page-content .installment-block .brand-slider .top-overlay .social-content .links a {
            color: #fff;
            padding: 10px;
            display: inline-block; }
            .page-content .installment-block .brand-slider .top-overlay .social-content .links a:hover {
              color: #dd1e27; }
    .page-content .installment-block .brand-slider .bottom-overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.4);
      z-index: 9;
      height: 50px; }
      .page-content .installment-block .brand-slider .bottom-overlay .fullscreen {
        width: 30px;
        height: 30px;
        position: absolute;
        right: 10px;
        bottom: 10px; }
    .page-content .installment-block .brand-slider .product-list {
      width: 20%;
      float: right; }
      .page-content .installment-block .brand-slider .product-list .all-new {
        width: 100% !important;
        border-radius: 20px;
        overflow: hidden;
        margin-bottom: 20px;
        position: relative;
        height: 106.66px; }
        .page-content .installment-block .brand-slider .product-list .all-new img {
          height: 100%;
          width: 100%; }
        .page-content .installment-block .brand-slider .product-list .all-new:last-child {
          margin: 0; }
    .page-content .installment-block .brand-slider .slick-prev, .page-content .installment-block .brand-slider .slick-next {
      left: 10px;
      bottom: 10px;
      top: unset;
      transform: unset;
      z-index: 7;
      display: flex;
      align-items: center;
      width: 30px;
      height: 30px;
      background-color: #064b77;
      border-radius: 50%;
      display: inline-block !important; }
    .page-content .installment-block .brand-slider .slick-prev {
      left: 50px; }
    .page-content .installment-block .brand-slider .slick-prev:before,
    .page-content .installment-block .brand-slider .slick-next:before {
      content: "";
      background-image: url(../images/icon/arrow-prev-w.png);
      background-repeat: no-repeat;
      width: 8px;
      height: 15px;
      background-size: 100% 100%;
      position: absolute;
      top: 50%;
      opacity: 1;
      transition: all 0.4s ease-in;
      transform: translate(-50%, -50%);
      left: 50%; }
      .page-content .installment-block .brand-slider .slick-prev:before:hover,
      .page-content .installment-block .brand-slider .slick-next:before:hover {
        opacity: 0.75; }
    .page-content .installment-block .brand-slider .slick-next:before {
      background-image: url(../images/icon/arrow-next-w.png); }
  .page-content .installment-block .brand-info {
    padding: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    clear: both;
    border-radius: 20px;
    overflow: hidden; }
    .page-content .installment-block .brand-info .title {
      color: #064b77;
      margin-bottom: 20px;
      font-size: 22px; }
    .page-content .installment-block .brand-info ul li {
      width: 33%;
      float: left;
      position: relative;
      padding-left: 20px; }
      .page-content .installment-block .brand-info ul li:before {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background: rgba(6, 75, 119, 0.61);
        border-radius: 50%;
        top: 50%;
        left: 0;
        transform: translateY(-50%); }
  .page-content .installment-block .ads-block .social-media {
    margin: 40px auto 20px;
    display: flex;
    justify-content: space-around; }
    .page-content .installment-block .ads-block .social-media li a {
      background-image: -moz-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
      background-image: -webkit-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
      background-image: -ms-linear-gradient(90deg, #ec9b0f 0%, #e4be0e 100%);
      background-color: transparent;
      width: 45px;
      height: 45px;
      display: inline-block;
      border-radius: 50%;
      text-align: center;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px; }
      .page-content .installment-block .ads-block .social-media li a .fa-phone-volume {
        transform: rotate(-45deg); }
  .page-content .installment-block .ads-block .ads-area {
    border-radius: 10px;
    overflow: hidden;
    float: right; }
.page-content .more-brands {
  padding: 40px 0px; }
  .page-content .more-brands .brand-card {
    padding: 20px;
    box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.12);
    background-color: #fff;
    border-radius: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden; }
    .page-content .more-brands .brand-card:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 64, 133, 0.3);
      opacity: 0; }
    .page-content .more-brands .brand-card img {
      width: 100%; }
  .page-content .more-brands .brand-title {
    margin-top: 20px; }
    .page-content .more-brands .brand-title h4 {
      color: #064b77;
      font-size: 16px;
      font-weight: 600;
      text-align: center; }
  .page-content .more-brands a {
    margin: 20px 0;
    display: block; }
    .page-content .more-brands a:hover .brand-card:after {
      opacity: 1; }
    .page-content .more-brands a:hover h4 {
      color: #dd1e27; }
  .page-content .more-brands .more .more-link {
    background: #dd1e27;
    color: #fff;
    height: 45px;
    line-height: 45px;
    width: 200px;
    border-radius: 33px;
    padding: 0;
    font-weight: 600;
    display: block;
    margin: 20px auto;
    text-align: center; }
    .page-content .more-brands .more .more-link:hover {
      background: #064b77; }
.page-content .about-page {
  padding: 40px 0;
  position: relative;
  min-height: 650px; }
  .page-content .about-page .about-content {
    margin-bottom: 20px; }
    .page-content .about-page .about-content .about-title {
      color: #dd1e27;
      margin-bottom: 20px;
      text-align: left;
      font-size: 22px; }
    .page-content .about-page .about-content .about-description {
      font-size: 20px; }
  .page-content .about-page .about-img {
    position: absolute;
    right: 0;
    top: 30px;
    width: 50%;
    transform: scaleX(-1); }
    .page-content .about-page .about-img img {
      width: 100%;
      height: 100%; }

.footer {
  padding: 40px 0 0; }
  .footer .right-block {
    display: flex;
    justify-content: space-between; }
    .footer .right-block h3.tilte {
      color: #064b77;
      font-size: 17px;
      font-weight: 600; }
      .footer .right-block h3.tilte .title-icon img {
        width: 30px; }
    .footer .right-block ul {
      margin-top: 20px; }
      .footer .right-block ul li {
        margin-bottom: 10px; }
        .footer .right-block ul li a {
          color: #bcbcbc;
          font-size: 15px;
          font-weight: 600;
          transition: all 0.4s ease-in; }
          .footer .right-block ul li a:hover {
            color: #e51f29 !important; }
  .footer .center-block .description p {
    text-align: center;
    font-size: 17px;
    color: #e51f29;
    margin: 20px auto; }
  .footer .center-block .social-links ul {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto; }
    .footer .center-block .social-links ul li a {
      color: #064b77;
      transition: all 0.4s ease-in;
      border: 1px solid #064b77;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      text-align: center;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center; }
      .footer .center-block .social-links ul li a:hover {
        color: #dd1e27 !important;
        border: 1px solid #dd1e27; }
  .footer .left-block h3.tilte {
    color: #064b77;
    font-size: 17px;
    font-weight: 600; }
  .footer .left-block form textarea {
    border: 2px solid #064b77;
    height: 50px;
    line-height: 45px;
    padding: 0 10px;
    width: 80%;
    margin: 20px auto;
    resize: none;
    border-radius: 30px;
    display: block;
    overflow-y: hidden; }
    .footer .left-block form textarea:focus {
      outline: none; }
  .footer .left-block form .btn-send {
    width: 80%;
    height: 50px;
    line-height: 50px;
    font-weight: 600;
    background-image: -moz-radial-gradient(50% 50%, circle closest-side, #0866a2 0%, #064b77 30%);
    background-image: -webkit-radial-gradient(50% 50%, circle closest-side, #0866a2 0%, #064b77 30%);
    background-image: -ms-radial-gradient(50% 50%, circle closest-side, #0866a2 0%, #064b77 30%);
    color: #fff;
    border: 2px solid #064b77;
    border-radius: 30px;
    display: block;
    margin: auto; }
    .footer .left-block form .btn-send:hover {
      background: #fff;
      color: #064b77; }
    .footer .left-block form .btn-send:focus {
      outline: none; }
  .footer .copy-right {
    background: #064b77;
    padding: 20px 0;
    margin-top: 40px; }
    .footer .copy-right .container {
      display: flex;
      justify-content: space-between; }
    .footer .copy-right p {
      margin: 0;
      color: #fff;
      font-weight: 600;
      transition: all 0.4s ease-in; }
      .footer .copy-right p a {
        color: #fff; }
        .footer .copy-right p a:hover {
          color: #dd1e27; }

.slick-dotted.slick-slider {
  margin-bottom: 0 !important;
  padding-bottom: 30px !important; }

@media (max-width: 1024px) {
  .page-content .recently-added .slider .slick-dots {
    bottom: 0; } }
@media (max-width: 991px) {
  .top-header {
    margin: 0;
    padding: 20px 0 0; }
    .top-header .right-side {
      display: none; }
    .top-header .left-side {
      display: block;
      position: relative; }
      .top-header .left-side .accordion {
        display: flex;
        justify-content: space-between; }
      .top-header .left-side .btn-link {
        width: 120px; }

  .navbar-collapse {
    -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    transform-origin: right;
    position: fixed;
    right: -100%;
    top: 0;
    background-color: #fff;
    width: 80%;
    height: 100%;
    z-index: 9;
    padding: 20px 15px;
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft; }
    .navbar-collapse.show {
      right: 0; }

  .navbar-brand {
    display: block !important;
    margin: 0;
    padding: 0; }
    .navbar-brand img {
      width: 150px; }

  .navbar-expand-lg {
    background-color: rgba(227, 227, 227, 0.32) !important;
    padding: 15px; }
    .navbar-expand-lg.fixed-top {
      -webkit-box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
      box-shadow: 0px 0px 65px 0px rgba(0, 0, 0, 0.06);
      background-color: #fff !important; }
    .navbar-expand-lg .navbar-collapse {
      margin: 0; }
    .navbar-expand-lg .navbar-nav {
      width: 80%;
      margin: auto;
      text-align: center;
      margin-top: 40px; }
      .navbar-expand-lg .navbar-nav .nav-link {
        font-size: 15px;
        padding: 10px;
        margin-bottom: 10px;
        letter-spacing: unset;
        font-weight: 500; }
        .navbar-expand-lg .navbar-nav .nav-link:hover, .navbar-expand-lg .navbar-nav .nav-link:focus {
          color: #dd1e27; }
      .navbar-expand-lg .navbar-nav .nav-item {
        margin-left: 0 !important;
        margin-right: unset !important; }
        .navbar-expand-lg .navbar-nav .nav-item.active {
          color: #dd1e27; }
        .navbar-expand-lg .navbar-nav .nav-item:after {
          display: none; }
    .navbar-expand-lg .active > .nav-link,
    .navbar-expand-lg .nav-link.active,
    .navbar-expand-lg .nav-link.show,
    .navbar-expand-lg .show > .nav-link {
      color: #dd1e27 !important; }

  .slick-prev,
  .slick-next {
    display: none !important; }

  .page-content .news-block .content {
    display: inline-block; }
    .page-content .news-block .content .new-right {
      width: auto;
      height: auto; }
    .page-content .news-block .content .new-left {
      width: auto;
      text-align: center;
      margin-top: 10px;
      padding: 0; } }
@media (max-width: 767px) {
  .forget-pas {
    font-size: 13px; }

  .page-content h3.tilte {
    font-size: 18px; }
    .page-content h3.tilte .title-icon img {
      width: 30px; }
  .page-content .about-block .about-slider {
    height: auto; }
    .page-content .about-block .about-slider .item {
      height: 280px; }
  .page-content .about-block .form-rate,
  .page-content .about-block .form-contact {
    min-height: unset;
    margin-top: 20px;
    padding: 20px; }
    .page-content .about-block .form-rate .check-block h3.tilte,
    .page-content .about-block .form-contact .check-block h3.tilte {
      font-size: 16px; }
    .page-content .about-block .form-rate .check-block .check-title,
    .page-content .about-block .form-contact .check-block .check-title {
      font-size: 15px;
      margin-bottom: 10px; }
    .page-content .about-block .form-rate .check-block .check-input .check-one label,
    .page-content .about-block .form-contact .check-block .check-input .check-one label {
      font-size: 13px; }
    .page-content .about-block .form-rate .form-inpt,
    .page-content .about-block .form-rate textarea,
    .page-content .about-block .form-contact .form-inpt,
    .page-content .about-block .form-contact textarea {
      height: 42px !important;
      line-height: 42px !important;
      font-size: 13px; }
  .page-content .about-block .select2-container--default .select2-selection--single {
    height: 42px !important;
    line-height: 42px !important; }
    .page-content .about-block .select2-container--default .select2-selection--single .select2-selection__rendered {
      font-size: 13px;
      line-height: 42px !important; }
    .page-content .about-block .select2-container--default .select2-selection--single .select2-selection__arrow:after {
      width: 13px !important;
      height: 13px !important; }
  .page-content .about-block button.btn,
  .page-content .about-block button.btn-send {
    height: 42px !important;
    line-height: 42px !important;
    font-size: 14px;
    margin-top: 0; }
  .page-content .news-block .new-details .report-new {
    width: 100%; }
    .page-content .news-block .new-details .report-new .reoprt-title {
      font-size: 17px;
      margin-bottom: 15px; }
    .page-content .news-block .new-details .report-new .new-title {
      font-size: 15px;
      margin-bottom: 10px; }
    .page-content .news-block .new-details .report-new .new-description {
      font-size: 13px;
      line-height: 24px; }
    .page-content .news-block .new-details .report-new .owner-new .owner-avater {
      width: 40px;
      height: 40px; }
    .page-content .news-block .new-details .report-new .owner-new .owner-info .owner-name {
      font-size: 14px; }
    .page-content .news-block .new-details .report-new .owner-new .owner-info .show-date {
      font-size: 14px; }
  .page-content .news-block .new-details .new-img {
    margin-top: 20px; }
  .page-content .news-block .all-new {
    padding: 0 5px; }
  .page-content .news-block .content .new-right {
    width: 100px;
    height: 80px;
    margin: auto;
    border: 1px solid #064b77; }
  .page-content .recently-added .slider .item .content {
    border: 1px solid #064b77; }

  .select2-results__option {
    font-size: 13px; }

  .footer .right-block h3.tilte {
    font-size: 16px; }
  .footer .right-block .right-block {
    justify-content: space-between; }
  .footer .center-block {
    margin: 40px auto;
    text-align: center; }
    .footer .center-block .description p {
      font-size: 14px; }
  .footer .left-block h3.tilte {
    font-size: 16px;
    text-align: center; }
  .footer .left-block form .btn-send,
  .footer .left-block textarea {
    height: 42px !important;
    line-height: 42px !important;
    font-size: 14px; }
  .footer .copy-right .container {
    display: block; }
  .footer .copy-right p {
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 10px; }

  .page-content .login-block .right-img {
    position: unset;
    text-align: center;
    margin-top: 40px;
    width: 100%; }
    .page-content .login-block .right-img img {
      position: unset;
      transform: unset; }
  .page-content .login-block .form-login {
    padding: 20px; }
    .page-content .login-block .form-login .input-block .form-inpt {
      height: 42px;
      line-height: 42px;
      font-size: 13px; }
    .page-content .login-block .form-login .btn {
      height: 42px !important;
      line-height: 42px !important;
      font-size: 14px; }

  .first-row {
    display: unset !important; }
    .first-row .input-block:first-child {
      padding-right: 0px !important; }
    .first-row .input-block:last-child {
      padding-left: 0px !important; }
    .first-row .input-block .form-inpt {
      width: unset; }

  .page-content .map-block .Complaints {
    position: relative;
    padding: 40px; }
    .page-content .map-block .Complaints .title {
      font-size: 18px;
      margin-bottom: 20px; }
    .page-content .map-block .Complaints ul li {
      margin-bottom: 10px;
      font-size: 14px;
      line-height: 24px; }
      .page-content .map-block .Complaints ul li span.icon {
        width: 25px;
        height: 25px;
        margin-right: 5px; }

  .page-content .all-categories .brand-info {
    margin-bottom: 20px; }
    .page-content .all-categories .brand-info .brand-card {
      margin-bottom: 20px; }
    .page-content .all-categories .brand-info .brand-title {
      color: #064b77;
      margin-bottom: 10px;
      font-size: 18px;
      text-align: center; }
    .page-content .all-categories .brand-info .brand-description {
      font-size: 13px;
      line-height: 22px;
      text-align: center; }
  .page-content .all-categories .tabs-block .categories-pills li.nav-item {
    width: 49%;
    margin: 0 auto 10px; }
    .page-content .all-categories .tabs-block .categories-pills li.nav-item .nav-link {
      font-size: 14px; }
  .page-content .all-categories .tabs-block .available-pills li.nav-item {
    width: 30%; }
  .page-content .all-categories .tabs-block .categories-cards {
    margin: 0; }
  .page-content .all-categories .recent-offers .offer-img {
    border-radius: 20px;
    overflow: hidden; }
  .page-content .all-categories .recent-offers .offer-detail h3.tilte {
    margin-top: 20px;
    margin-bottom: 10px; }
  .page-content .all-categories .recent-offers .offer-detail p {
    font-size: 13px;
    line-height: 24px;
    margin-bottom: 10px;
    text-align: center; }
  .page-content .all-categories .more .more-link {
    margin: 0 auto;
    font-size: 14px;
    font-weight: 500; }

  .page-content .installment-block h3.tilte {
    text-align: center; }
  .page-content .installment-block .brand-slider .product {
    width: 100%;
    float: unset;
    margin-bottom: 20px; }
    .page-content .installment-block .brand-slider .product .new-img {
      height: 260px; }
  .page-content .installment-block .brand-slider .product-list {
    display: block;
    float: unset;
    width: 100%;
    margin-bottom: 40px; }
    .page-content .installment-block .brand-slider .product-list .all-new {
      width: 30% !important;
      height: 90px;
      margin-right: 4%; }
      .page-content .installment-block .brand-slider .product-list .all-new:last-child {
        margin: 0; }
  .page-content .installment-block .brand-info .title {
    margin-bottom: 10px;
    font-size: 18px;
    text-align: center; }
  .page-content .installment-block .brand-info ul li {
    width: 50%;
    padding-right: 13px;
    font-size: 13px; }
  .page-content .installment-block .ads-block .social-media {
    margin: 40px auto 20px;
    display: flex;
    justify-content: center; }
    .page-content .installment-block .ads-block .social-media li {
      margin: 0 10px; }
  .page-content .installment-block .ads-block .ads-area {
    float: unset;
    margin: auto;
    text-align: center;
    width: 80%; }
  .page-content .about-page .about-content {
    margin-bottom: 20px; }
    .page-content .about-page .about-content .about-title {
      margin-bottom: 10px;
      text-align: center;
      font-size: 18px; }
    .page-content .about-page .about-content .about-description {
      font-size: 15px;
      line-height: 24px;
      text-align: center; }
  .page-content .about-page .about-img {
    position: unset;
    width: 100%; }
    .page-content .about-page .about-img img {
      position: unset;
      transform: unset; }
  .page-content .brands-block .all-brands .single-brand {
    width: 33%; } }
@media (max-width: 500px) {
  .page-content .news-block .content {
    padding: 5px;
    border: 1px solid #064b77; }
    .page-content .news-block .content .new-left .new-title,
    .page-content .news-block .content .new-left .new-description {
      font-size: 12px;
      line-height: 19px; }
  .page-content .installment-block .brand-slider .product-list .all-new {
    height: 80px; }
  .page-content .installment-block .brand-slider .top-overlay .social-content {
    left: -8px; }
    .page-content .installment-block .brand-slider .top-overlay .social-content .links {
      margin-left: 10px; }
    .page-content .installment-block .brand-slider .top-overlay .social-content:before {
      width: 100%; }
  .page-content .installment-block .brand-slider .slick-prev, .page-content .installment-block .brand-slider .slick-next {
    width: 25px;
    height: 25px; }
  .page-content .installment-block .brand-slider .slick-prev:before, .page-content .installment-block .brand-slider .slick-next:before {
    width: 6px;
    height: 12px; }

  .footer .right-block h3.tilte {
    font-size: 14px; }
  .footer .right-block .right-block ul li a {
    font-size: 13px; }
  .footer .center-block .top-logo img {
    width: 280px; }
  .footer .center-block .description p {
    font-size: 13px; }
  .footer .left-block h3.tilte {
    font-size: 14px; }
  .footer .copy-right p {
    font-size: 13px;
    font-weight: 500; }

  .brands-block .all-brands .single-brand {
    width: 33%; } }

/*# sourceMappingURL=style-ltr.css.map */
